# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Dictionaries
1. Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]`, and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be stored in a `list`. **Hint: Use the `np.arange`, `zip`, and `np.tolist()` functions.** <br><br>
2. Print the value of `brand` key of `car` dictionary. **Hint: Use the `get` method.** <br><br>
3. Print all the the values of `brand` key of `car` dictionary. **Hint: Use the `values` method.** <br><br>
4. Print the max value  of `friday` in `january` of `hr_sleep` dictionary. **Hint: [Indexing in nested dictioanries](https://stackoverflow.com/questions/25836376/how-to-get-the-inner-indexes-of-a-nested-dictionary-in-python).** <br><br>
5. Add `march` key to the `hr_sleep` dictionary using `week1` and `values2` Python lists. **Hint: Use `zip` function adn [this link](https://stackoverflow.com/questions/1024847/how-can-i-add-new-keys-to-a-dictionary).** <br><br>

In [99]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

In [100]:
week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]

In [101]:
#1 

import numpy as np #importamos la librería numpy

even_numbers = np.arange(0, 2001, 2).tolist()  #creamos la lista de número del 0 al 2000  
odd_numbers = np.arange(9001, 19000, 2).tolist() #creamos la lista de número del 9001 al 18999

#creamos el diccionario con ambas listas
dicc1 = {
    "even_numbers": even_numbers,
    "odd_numbers": odd_numbers
}

In [102]:
#2

print(car.get("brand")) #imprimimos la marca que es Ford

Ford

In [103]:
#3

print(car.values()) #imprimimos los valores: 'Ford', 'Mustang', 1964

dict_values(['Ford', 'Mustang', 1964])

In [104]:
#4

outer_key = "january" #Definimos el outer_key como enero
inner_key = "friday" #Definimos el inner_key como viernes
print(max(hr_sleep[outer_key][inner_key])) #buscamos el valor máximo de horas dormidas en el viernes, que es 2

2

In [105]:
#5 

hr_sleep["march"] = {week: value for week, value in zip(week1, values2)} #agregamoslos valores de week1 y values2 usando zip
hr_sleep["march"]

{'monday': [2, 3, 4], 'sunday': 8}

## 1.2 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [4]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

In [115]:
#1
np1[np1 % 2 == 0] = 100
print(np1)

[100 201 100 203 100 205 100 207 100 209 100 211 100 213 100 215 100 217
 100 219 100 221 100 223 100 225 100 227 100 229 100 231 100 233 100 235
 100 237 100 239 100 241 100 243 100 245 100 247 100 249 100 251 100 253
 100 255 100 257 100 259 100 261 100 263 100 265 100 267 100 269 100 271
 100 273 100 275 100 277 100 279 100 281 100 283 100 285 100 287 100 289
 100 291 100 293 100 295 100 297 100 299 100 301 100 303 100 305 100 307
 100 309 100 311 100 313 100 315 100 317 100 319 100 321 100 323 100 325
 100 327 100 329 100 331 100 333 100 335 100 337 100 339 100 341 100 343
 100 345 100 347 100 349 100 351 100 353 100 355 100 357 100 359 100 361
 100 363 100 365 100 367 100 369 100 371 100 373 100 375 100 377 100 379
 100 381 100 383 100 385 100 387 100 389 100 391 100 393 100 395 100 397
 100 399 100 401 100 403 100 405 100 407 100 409 100 411 100 413 100 415
 100 417 100 419 100 421 100 423 100 425 100 427 100 429 100 431 100 433
 100 435 100 437 100 439 100 441 100 443 100 445 100 447 100 449 100 451
 100 453 100 455 100 457 100 459 100 461 100 463 100 465 100 467 100 469
 100 471 100 473 100 475 100 477 100 479 100 481 100 483 100 485 100 487
 100 489 100 491 100 493 100 495 100 497 100 499 100 501 100 503 100 505
 100 507 100 509 100 511 100 513 100 515 100 517 100 519 100 521 100 523
 100 525 100 527 100 529 100 531 100 533 100 535 100 537 100 539 100 541
 100 543 100 545 100 547 100 549 100 551 100 553 100 555 100 557 100 559
 100 561 100 563 100 565 100 567 100 569 100 571 100 573 100 575 100 577
 100 579 100 581 100 583 100 585 100 587 100 589 100 591 100 593 100 595
 100 597 100 599 100 601 100 603 100 605 100 607 100 609 100 611 100 613
 100 615 100 617 100 619 100 621 100 623 100 625 100 627 100 629 100 631
 100 633 100 635 100 637 100 639 100 641 100 643 100 645 100 647 100 649
 100 651 100 653 100 655 100 657 100 659 100 661 100 663 100 665 100 667
 100 669 100 671 100 673 100 675 100 677 100 679 100 681 100 683 100 685
 100 687 100 689 100 691 100 693 100 695 100 697 100 699 100 701 100 703
 100 705 100 707 100 709 100 711 100 713 100 715 100 717 100 719 100 721
 100 723 100 725 100 727 100 729 100 731 100 733 100 735 100 737 100 739
 100 741 100 743 100 745 100 747 100 749]

In [116]:
#Otra forma
np1[np.where(np1 % 2 == 0)] = 100
print(np1)

[100 201 100 203 100 205 100 207 100 209 100 211 100 213 100 215 100 217
 100 219 100 221 100 223 100 225 100 227 100 229 100 231 100 233 100 235
 100 237 100 239 100 241 100 243 100 245 100 247 100 249 100 251 100 253
 100 255 100 257 100 259 100 261 100 263 100 265 100 267 100 269 100 271
 100 273 100 275 100 277 100 279 100 281 100 283 100 285 100 287 100 289
 100 291 100 293 100 295 100 297 100 299 100 301 100 303 100 305 100 307
 100 309 100 311 100 313 100 315 100 317 100 319 100 321 100 323 100 325
 100 327 100 329 100 331 100 333 100 335 100 337 100 339 100 341 100 343
 100 345 100 347 100 349 100 351 100 353 100 355 100 357 100 359 100 361
 100 363 100 365 100 367 100 369 100 371 100 373 100 375 100 377 100 379
 100 381 100 383 100 385 100 387 100 389 100 391 100 393 100 395 100 397
 100 399 100 401 100 403 100 405 100 407 100 409 100 411 100 413 100 415
 100 417 100 419 100 421 100 423 100 425 100 427 100 429 100 431 100 433
 100 435 100 437 100 439 100 441 100 443 100 445 100 447 100 449 100 451
 100 453 100 455 100 457 100 459 100 461 100 463 100 465 100 467 100 469
 100 471 100 473 100 475 100 477 100 479 100 481 100 483 100 485 100 487
 100 489 100 491 100 493 100 495 100 497 100 499 100 501 100 503 100 505
 100 507 100 509 100 511 100 513 100 515 100 517 100 519 100 521 100 523
 100 525 100 527 100 529 100 531 100 533 100 535 100 537 100 539 100 541
 100 543 100 545 100 547 100 549 100 551 100 553 100 555 100 557 100 559
 100 561 100 563 100 565 100 567 100 569 100 571 100 573 100 575 100 577
 100 579 100 581 100 583 100 585 100 587 100 589 100 591 100 593 100 595
 100 597 100 599 100 601 100 603 100 605 100 607 100 609 100 611 100 613
 100 615 100 617 100 619 100 621 100 623 100 625 100 627 100 629 100 631
 100 633 100 635 100 637 100 639 100 641 100 643 100 645 100 647 100 649
 100 651 100 653 100 655 100 657 100 659 100 661 100 663 100 665 100 667
 100 669 100 671 100 673 100 675 100 677 100 679 100 681 100 683 100 685
 100 687 100 689 100 691 100 693 100 695 100 697 100 699 100 701 100 703
 100 705 100 707 100 709 100 711 100 713 100 715 100 717 100 719 100 721
 100 723 100 725 100 727 100 729 100 731 100 733 100 735 100 737 100 739
 100 741 100 743 100 745 100 747 100 749]

In [117]:
#2

matrix = np.arange(9).reshape((3,3))
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [118]:
#3

Z = np.arange(1, 11)
R = [Z[i:i+4] for i in range(len(Z)-3)]

R_string = [str(sub_arr) for sub_arr in R]
R_comma_separated = ', '.join(R_string)
print("[ "+R_comma_separated+" ]")

[ [1 2 3 4], [2 3 4 5], [3 4 5 6], [4 5 6 7], [5 6 7 8], [6 7 8 9], [ 7  8  9 10] ]

In [119]:
#4

array = np.random.random((3,3,3))
array

array([[[0.24290865, 0.8056976 , 0.3945205 ],
        [0.43556362, 0.14556566, 0.82607682],
        [0.37256222, 0.01254609, 0.01080873]],

       [[0.65475631, 0.86308142, 0.40489702],
        [0.18801431, 0.85389185, 0.12145486],
        [0.81839378, 0.79398975, 0.53772084]],

       [[0.0403099 , 0.75340434, 0.93704049],
        [0.88103374, 0.36288924, 0.27500812],
        [0.71080202, 0.63092773, 0.44472141]]])

In [ ]:
#5

#La condición "np.nan == np.nan"`es falsa dado que el tipo de un float, no puede ser una identidad (no admite la condición ser igual por sí mismo)

In [121]:
#6

np2 = np.random.normal( 50 , 4, 300)
mean = np.mean(np2)
variance = np.var(np2)
std = np.sqrt(variance)

print(f"The mean of np2 is {mean} and the standard deviation is {std}")

The mean of np2 is 50.12376790352762 and the standard deviation is 4.105737955961467

## Restricted Least Squares

Given the following equation:


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_{qq} lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$


1. Get $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br><br>
2. Get the `covariance matrix` $\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right)$. <br><br>
**Hint: For more information about Restricted Least Squares [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).**<br>

In [134]:
import pandas as pd
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [135]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [136]:
import statsmodels.api as sm
import numpy as np

In [137]:
lnct = np.log(ct)
lnq  = np.log(q)
lnp1 = np.log(p1)
lnp2 = np.log(p2)
lnp3 = np.log(p3)

In [138]:
ln2p1 = np.multiply(lnp1,lnp1)
ln2p2 = np.multiply(lnp2,lnp2)
ln2p3 = np.multiply(lnp3,lnp3)

In [139]:
ln2p1_2 = np.multiply(ln2p1,0.5)
ln2p2_2 = np.multiply(ln2p2,0.5)
ln2p3_2 = np.multiply(ln2p3,0.5)

In [140]:
lnq2   = np.multiply(lnq,lnq)
lnq2_2 = np.multiply(lnq2,0.5)

In [141]:
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)

In [142]:
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [143]:
lnp1lnp2_2 = np.multiply (lnp1lnp2,0.5)
lnp1lnp3_2 = np.multiply (lnp1lnp3,0.5)
lnp2lnp3_2 = np.multiply (lnp2lnp3,0.5)

In [144]:
beta_q  = lnq
beta_qq = lnq2_2
beta_q1 = lnqlnp1
beta_q2 = lnqlnp2
beta_q3 = lnqlnp3
beta_1  = lnp1
beta_2  = lnp2
beta_3  = lnp3
beta_11 = ln2p1_2
beta_22 = ln2p2_2
beta_33 = ln2p3_2
beta_12 = lnp1lnp2_2
beta_13 = lnp1lnp3_2
beta_23 = lnp2lnp3_2
beta_21 = beta_12
beta_31 = beta_13
beta_32 = beta_23

In [145]:
y_mdl = sm.OLS.from_formula("lnct ~ beta_q + beta_qq + beta_q1 + beta_q2 + beta_q3 + beta_1 + beta_2 + beta_3 + beta_11 + beta_22 + beta_33 + beta_12 + beta_13 + beta_23", 
                            data = greene)
y_mdl_fit = y_mdl.fit()
print(y_mdl_fit.summary().tables[1])

==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -76.2593     38.280     -1.992      0.048    -151.927      -0.591
beta_q        -1.0804      0.376     -2.877      0.005      -1.823      -0.338
beta_qq        0.0530      0.005     11.240      0.000       0.044       0.062
beta_q1        0.1310      0.038      3.423      0.001       0.055       0.207
beta_q2        0.0587      0.026      2.296      0.023       0.008       0.109
beta_q3        0.0401      0.030      1.348      0.180      -0.019       0.099
beta_1        14.7183      7.085      2.077      0.040       0.714      28.723
beta_2        -0.8947      2.842     -0.315      0.753      -6.513       4.724
beta_3         6.3808      4.529      1.409      0.161      -2.572      15.334
beta_11       -1.5385      0.692     -2.222      0.028      -2.907      -0.170
beta_22       -0.0735      0.182     -0.404      0.687      -0.433       0.286
beta_33       -0.3274      0.441     -0.743      0.459      -1.199       0.544
beta_12        0.3246      0.540      0.601      0.549      -0.743       1.392
beta_13       -1.1441      0.744     -1.538      0.126      -2.614       0.326
beta_23       -0.0480      0.493     -0.098      0.922      -1.022       0.926
==============================================================================

In [146]:
mdl_glm = sm.GLM.from_formula(formula = y_mdl.formula, data = greene)
mdl_glm_fit = mdl_glm.fit()
print(mdl_glm_fit.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -76.2593     38.280     -1.992      0.046    -151.287      -1.232
beta_q        -1.0804      0.376     -2.877      0.004      -1.816      -0.344
beta_qq        0.0530      0.005     11.240      0.000       0.044       0.062
beta_q1        0.1310      0.038      3.423      0.001       0.056       0.206
beta_q2        0.0587      0.026      2.296      0.022       0.009       0.109
beta_q3        0.0401      0.030      1.348      0.178      -0.018       0.099
beta_1        14.7183      7.085      2.077      0.038       0.832      28.604
beta_2        -0.8947      2.842     -0.315      0.753      -6.466       4.676
beta_3         6.3808      4.529      1.409      0.159      -2.496      15.258
beta_11       -1.5385      0.692     -2.222      0.026      -2.896      -0.181
beta_22       -0.0735      0.182     -0.404      0.686      -0.430       0.283
beta_33       -0.3274      0.441     -0.743      0.458      -1.191       0.536
beta_12        0.3246      0.540      0.601      0.548      -0.734       1.383
beta_13       -1.1441      0.744     -1.538      0.124      -2.602       0.314
beta_23       -0.0480      0.493     -0.098      0.922      -1.014       0.918
==============================================================================

In [147]:
mdl_rls = mdl_glm.fit_constrained("beta_1 + beta_2 + beta_3 = 1, beta_q1 + beta_q2 + beta_q3 = 0, beta_11 + beta_12 + beta_13 = 0, beta_12 + beta_22 + beta_23 = 0, beta_13 + beta_23 + beta_33 = 0")
print(mdl_rls.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -7.1112      2.913     -2.441      0.015     -12.821      -1.402
beta_q         0.4614      0.127      3.646      0.000       0.213       0.709
beta_qq        0.0600      0.004     13.372      0.000       0.051       0.069
beta_q1       -0.0044      0.024     -0.180      0.857      -0.052       0.043
beta_q2        0.0368      0.026      1.438      0.151      -0.013       0.087
beta_q3       -0.0324      0.023     -1.432      0.152      -0.077       0.012
beta_1         0.2156      1.073      0.201      0.841      -1.888       2.319
beta_2         0.4029      0.586      0.688      0.492      -0.745       1.551
beta_3         0.3815      0.562      0.679      0.497      -0.719       1.482
beta_11       -0.0087      0.149     -0.058      0.953      -0.301       0.283
beta_22        0.0052      0.169      0.030      0.976      -0.327       0.337
beta_33       -0.0153      0.317     -0.048      0.962      -0.637       0.607
beta_12       -0.0059      0.241     -0.024      0.981      -0.478       0.466
beta_13        0.0146      0.156      0.094      0.925      -0.291       0.320
beta_23        0.0007      0.245      0.003      0.998      -0.479       0.480
==============================================================================

In [148]:
x0 = np.ones(158)
X = np.hstack(( beta_q.reshape(-1, 1), beta_qq.reshape(-1,1) , beta_q1.reshape(-1,1) , beta_q2.reshape(-1,1) ,
              beta_q3.reshape(-1,1), beta_1.reshape(-1,1), beta_2.reshape(-1,1), beta_3.reshape(-1,1), beta_11.reshape(-1,1),
              beta_22.reshape(-1,1), beta_33.reshape(-1,1), beta_12.reshape(-1,1), beta_13.reshape(-1,1), beta_23.reshape(-1,1)))
X

array([[ 2.07944154,  2.16203856, 18.37153796, ..., 12.76798924,
        18.43628708,  6.03154217],
       [ 6.76734313, 22.89846649, 61.12780486, ..., 13.7646109 ,
        19.07195764,  6.43499186],
       [ 7.25276242, 26.30128135, 65.14646856, ..., 16.73588852,
        16.6443385 ,  6.90510767],
       ...,
       [ 5.96870756, 17.81273497, 51.74924846, ..., 16.46655886,
        18.90251177,  8.28142116],
       [ 8.57866451, 36.79674242, 78.65026601, ..., 17.11621413,
        19.97189503,  8.13384624],
       [ 9.63036563, 46.3719711 , 85.2448793 , ..., 14.36189482,
        19.05059047,  6.98391798]])

In [149]:
L=np.array (([0,0,0,0,0,0,1,1,1,0,0,0,0,0,0],
             [0,0,0,1,1,1,0,0,0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0,0,0,1,0,0,1,1,0],
             [0,0,0,0,0,0,0,0,0,0,1,0,1,0,1],
             [0,0,0,0,0,0,0,0,0,0,0,1,0,1,1]))
rr = [1,0,0,0,0]
mdl_rls2 = mdl_glm.fit_constrained((L,rr))
print(mdl_rls2.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -7.1112      2.913     -2.441      0.015     -12.821      -1.402
beta_q         0.4614      0.127      3.646      0.000       0.213       0.709
beta_qq        0.0600      0.004     13.372      0.000       0.051       0.069
beta_q1       -0.0044      0.024     -0.180      0.857      -0.052       0.043
beta_q2        0.0368      0.026      1.438      0.151      -0.013       0.087
beta_q3       -0.0324      0.023     -1.432      0.152      -0.077       0.012
beta_1         0.2156      1.073      0.201      0.841      -1.888       2.319
beta_2         0.4029      0.586      0.688      0.492      -0.745       1.551
beta_3         0.3815      0.562      0.679      0.497      -0.719       1.482
beta_11       -0.0087      0.149     -0.058      0.953      -0.301       0.283
beta_22        0.0052      0.169      0.030      0.976      -0.327       0.337
beta_33       -0.0153      0.317     -0.048      0.962      -0.637       0.607
beta_12       -0.0059      0.241     -0.024      0.981      -0.478       0.466
beta_13        0.0146      0.156      0.094      0.925      -0.291       0.320
beta_23        0.0007      0.245      0.003      0.998      -0.479       0.480
==============================================================================

In [150]:
X_d = sm.add_constant(X)
xtx_inv  = np.linalg.inv(np.dot(np.transpose(X_d), X_d))
beta_ols = np.dot(xtx_inv, np.dot(np.transpose(X_d), lnct))
RA_1 = np.dot(xtx_inv, np.transpose(L))
RA_2 = np.linalg.inv(np.linalg.multi_dot([L, xtx_inv, np.transpose(L)]))
RA_3 = np.dot(L, beta_ols) - np.array(rr)
RA   = RA_1.dot(RA_2).dot(RA_3)
RA

array([-6.91480570e+01, -1.54179333e+00, -6.97690070e-03,  1.35394988e-01,
        2.18742238e-02,  7.25679772e-02,  1.45027254e+01, -1.29765594e+00,
        5.99928604e+00, -1.52981504e+00, -7.86612353e-02, -3.12112571e-01,
        3.30438341e-01, -1.15868571e+00, -4.87662759e-02])

In [151]:
beta_rls = beta_ols - RA
beta_rls.shape
beta_rls

array([-7.11120011e+00,  4.61367985e-01,  5.99553934e-02, -4.35440198e-03,
        3.67779793e-02, -3.24235773e-02,  2.15566353e-01,  4.02923024e-01,
        3.81510623e-01, -8.71224206e-03,  5.15567485e-03, -1.53016764e-02,
       -5.87255460e-03,  1.45847967e-02,  7.16879746e-04])

In [152]:
y_fit = np.dot(X_d, beta_rls)
y_fit.shape

(158,)

In [153]:
resid = np.array(lnct) - mdl_rls2.predict()
resid.shape

(158,)

In [154]:
sigma2_rls = np.sum(resid**2) / (len(greene.index) - (len(beta_rls) - len(rr)))

In [155]:
D_mat = np.identity(len(beta_rls)) - RA_1.dot(RA_2).dot(L)
rls_vcov = sigma2_rls * D_mat.dot(xtx_inv)
beta_rls_se = np.sqrt(np.diag(rls_vcov))
rls_vcov

array([[ 8.48589522e+00, -9.61600638e-02,  2.05747327e-04,
         1.56765358e-02, -2.21038019e-02,  6.42726609e-03,
        -3.05050166e+00,  1.61354413e+00,  1.43695752e+00,
         3.96518508e-01, -9.19352072e-02, -8.22144548e-01,
        -5.63363924e-01,  1.66845416e-01,  6.55299132e-01],
       [-9.61600638e-02,  1.60149394e-02, -6.96792552e-05,
        -2.91213527e-03,  2.26965574e-03,  6.42479533e-04,
         1.21925219e-02, -1.47386571e-02,  2.54613521e-03,
         1.59342538e-03, -2.91860121e-03, -1.31690219e-03,
         4.13682235e-06, -1.59756220e-03,  2.91446439e-03],
       [ 2.05747327e-04, -6.96792552e-05,  2.01030000e-05,
        -1.63509023e-05, -2.39709641e-06,  1.87479987e-05,
        -3.76839390e-05,  1.50075217e-04, -1.12391278e-04,
         2.49444200e-05,  6.14974496e-05, -9.65394665e-05,
        -9.14906680e-05,  6.65462480e-05,  2.99932184e-05],
       [ 1.56765358e-02, -2.91213527e-03, -1.63509023e-05,
         5.84940247e-04, -3.63383123e-04, -2.21557124e-04,
        -1.37716081e-03,  1.70147213e-03, -3.24311315e-04,
        -4.79660537e-04,  5.61716052e-04,  5.74109750e-04,
         2.46027118e-04,  2.33633420e-04, -8.07743170e-04],
       [-2.21038019e-02,  2.26965574e-03, -2.39709641e-06,
        -3.63383123e-04,  6.54424725e-04, -2.91041602e-04,
         5.09874924e-03, -6.12052105e-03,  1.02177180e-03,
        -3.32871958e-04,  5.73618057e-05,  4.60596520e-04,
         3.68053336e-04, -3.51813780e-05, -4.25415142e-04],
       [ 6.42726609e-03,  6.42479533e-04,  1.87479987e-05,
        -2.21557124e-04, -2.91041602e-04,  5.12598726e-04,
        -3.72158843e-03,  4.41904892e-03, -6.97460489e-04,
         8.12532495e-04, -6.19077858e-04, -1.03470627e-03,
        -6.14080454e-04, -1.98452042e-04,  1.23315831e-03],
       [-3.05050166e+00,  1.21925219e-02, -3.76839390e-05,
        -1.37716081e-03,  5.09874924e-03, -3.72158843e-03,
         1.15156783e+00, -5.89638046e-01, -5.61929785e-01,
        -1.56461143e-01,  4.55958679e-02,  3.09679352e-01,
         2.10272314e-01, -5.38111701e-02, -2.55868181e-01],
       [ 1.61354413e+00, -1.47386571e-02,  1.50075217e-04,
         1.70147212e-03, -6.12052105e-03,  4.41904892e-03,
        -5.89638046e-01,  3.43127226e-01,  2.46510820e-01,
         7.80412891e-02, -2.54697782e-03, -1.71223636e-01,
        -1.23358974e-01,  4.53176846e-02,  1.25905952e-01],
       [ 1.43695752e+00,  2.54613521e-03, -1.12391278e-04,
        -3.24311316e-04,  1.02177181e-03, -6.97460489e-04,
        -5.61929785e-01,  2.46510820e-01,  3.15418964e-01,
         7.84198544e-02, -4.30488901e-02, -1.38455715e-01,
        -8.69133398e-02,  8.49348549e-03,  1.29962230e-01],
       [ 3.96518508e-01,  1.59342538e-03,  2.49444200e-05,
        -4.79660538e-04, -3.32871958e-04,  8.12532495e-04,
        -1.56461143e-01,  7.80412891e-02,  7.84198544e-02,
         2.22013592e-02, -8.25485257e-03, -4.19510357e-02,
        -2.79487712e-02,  5.74741198e-03,  3.62036238e-02],
       [-9.19352072e-02, -2.91860121e-03,  6.14974496e-05,
         5.61716052e-04,  5.73618056e-05, -6.19077858e-04,
         4.55958679e-02, -2.54697782e-03, -4.30488901e-02,
        -8.25485257e-03,  2.87227038e-02, -6.34996732e-03,
        -1.34089093e-02,  2.16637618e-02, -1.53137945e-02],
       [-8.22144548e-01, -1.31690219e-03, -9.65394665e-05,
         5.74109750e-04,  4.60596520e-04, -1.03470627e-03,
         3.09679352e-01, -1.71223636e-01, -1.38455715e-01,
        -4.19510357e-02, -6.34996732e-03,  1.00771518e-01,
         7.45362604e-02, -3.25852246e-02, -6.81862931e-02],
       [-5.63363924e-01,  4.13682185e-06, -9.14906680e-05,
         2.46027118e-04,  3.68053336e-04, -6.14080454e-04,
         2.10272314e-01, -1.23358974e-01, -8.69133398e-02,
        -2.79487712e-02, -1.34089093e-02,  7.45362604e-02,
         5.79469704e-02, -2.99981992e-02, -4.45380612e-02],
       [ 1.66845416e-01, -1.59756220e-03,  6.65462480e-05,
         2.33633420e-04, -3.51813780e-05, -1.98452042e-04,
        -5.38111701e-02,  4.53176846e-02,  8.49348549e-03,
         5.74741198e-03,  2.16637618e-02, -3.25852246e-02,
        -2.99981992e-02,  2.42507872e-02,  8.33443740e-03],
       [ 6.55299132e-01,  2.91446439e-03,  2.99932184e-05,
        -8.07743170e-04, -4.25415142e-04,  1.23315831e-03,
        -2.55868181e-01,  1.25905952e-01,  1.29962230e-01,
         3.62036238e-02, -1.53137945e-02, -6.81862931e-02,
        -4.45380612e-02,  8.33443740e-03,  5.98518557e-02]])

In [156]:
matriz_var_cov_beta_rls=pd.DataFrame(rls_vcov)
matriz_var_cov_beta_rls

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,8.485895,-0.096160,0.000206,0.015677,-0.022104,0.006427,-3.050502,1.613544,1.436958,0.396519,-0.091935,-0.822145,-0.563364,0.166845,0.655299
1,-0.096160,0.016015,-0.000070,-0.002912,0.002270,0.000642,0.012193,-0.014739,0.002546,0.001593,-0.002919,-0.001317,0.000004,-0.001598,0.002914
2,0.000206,-0.000070,0.000020,-0.000016,-0.000002,0.000019,-0.000038,0.000150,-0.000112,0.000025,0.000061,-0.000097,-0.000091,0.000067,0.000030
3,0.015677,-0.002912,-0.000016,0.000585,-0.000363,-0.000222,-0.001377,0.001701,-0.000324,-0.000480,0.000562,0.000574,0.000246,0.000234,-0.000808
4,-0.022104,0.002270,-0.000002,-0.000363,0.000654,-0.000291,0.005099,-0.006121,0.001022,-0.000333,0.000057,0.000461,0.000368,-0.000035,-0.000425
5,0.006427,0.000642,0.000019,-0.000222,-0.000291,0.000513,-0.003722,0.004419,-0.000697,0.000813,-0.000619,-0.001035,-0.000614,-0.000198,0.001233
6,-3.050502,0.012193,-0.000038,-0.001377,0.005099,-0.003722,1.151568,-0.589638,-0.561930,-0.156461,0.045596,0.309679,0.210272,-0.053811,-0.255868
7,1.613544,-0.014739,0.000150,0.001701,-0.006121,0.004419,-0.589638,0.343127,0.246511,0.078041,-0.002547,-0.171224,-0.123359,0.045318,0.125906
8,1.436958,0.002546,-0.000112,-0.000324,0.001022,-0.000697,-0.561930,0.246511,0.315419,0.078420,-0.043049,-0.138456,-0.086913,0.008493,0.129962
9,0.396519,0.001593,0.000025,-0.000480,-0.000333,0.000813,-0.156461,0.078041,0.078420,0.022201,-0.008255,-0.041951,-0.027949,0.005747,0.036204
10,-0.091935,-0.002919,0.000061,0.000562,0.000057,-0.000619,0.045596,-0.002547,-0.043049,-0.008255,0.028723,-0.006350,-0.013409,0.021664,-0.015314
11,-0.822145,-0.001317,-0.000097,0.000574,0.000461,-0.001035,0.309679,-0.171224,-0.138456,-0.041951,-0.006350,0.100772,0.074536,-0.032585,-0.068186
12,-0.563364,0.000004,-0.000091,0.000246,0.000368,-0.000614,0.210272,-0.123359,-0.086913,-0.027949,-0.013409,0.074536,0.057947,-0.029998,-0.044538
13,0.166845,-0.001598,0.000067,0.000234,-0.000035,-0.000198,-0.053811,0.045318,0.008493,0.005747,0.021664,-0.032585,-0.029998,0.024251,0.008334
14,0.655299,0.002914,0.000030,-0.000808,-0.000425,0.001233,-0.255868,0.125906,0.129962,0.036204,-0.015314,-0.068186,-0.044538,0.008334,0.059852

# Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

In [110]:
# read REC0111 data
#!pip install savReaderWriter
#!pip install pyreadstat
import pyreadstat
import savReaderWriter as sav
rec1 = pd.read_spss( fr"../../_data/endes/2019/REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [ ]:
dict_varlabels

In [111]:
# 1. We use method "is.unique" to check if column "CASEID" identifies each observation uniquely. 
# The output is True, in other words, there are not duplicates
rec1["CASEID"].is_unique

True

In [112]:
# 2. Set index using column "CASEID", specify inplace to modify data in place
# Pd: Use head() to visualize the output
rec1.set_index("CASEID", inplace=True)
rec1.head()

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000100201 2,2019.0,000100201,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
000100201 3,2019.0,000100201,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
000102801 2,2019.0,000102801,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000102801 6,2019.0,000102801,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0

In [113]:
# 3. Keep women who are 15-30 years old and live in Urban areas
# Use loc to filter cases by the four conditions: women, age beetwen 15-30 years, living in urban areas
# Pd: Use head() to visualize the output
rec1.filter = rec1.loc[ (rec1.V012 >= 15) & (rec1.V012 <= 30) & (rec1.V025 == "Urbano") , : ]
rec1.filter.head()

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
000113601 2,2019.0,000113601,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,No,No,No,010101,3.0,154803.0,Más rico,1.435294,Mujeres de 15 a 49 años de edad,7065.0
000116701 1,2019.0,000116701,1.0,167.0,1.0,1.0,2019.0,1434.0,6.0,2001.0,...,No,No,No,010101,3.0,154803.0,Más rico,1.672440,Mujeres de 15 a 49 años de edad,7065.0
000119101 1,2019.0,000119101,1.0,191.0,1.0,1.0,2019.0,1434.0,9.0,1995.0,...,No,No,No,010101,3.0,154803.0,Pobrer,0.234148,Mujeres de 15 a 49 años de edad,7065.0
000203001 2,2019.0,000203001,2.0,30.0,2.0,2.0,2019.0,1432.0,5.0,1990.0,...,No,No,No,010101,2.0,65298.0,Pobrer,-0.196449,Mujeres de 15 a 49 años de edad,7068.0

In [114]:
# 4. Use to_datetime function to convert V009 variable to datetime
# Then use dt.mont_name function to get the full month name 
# Last, apply str.slice function to just keep the three letters of month name
# Pd: Use loc to visualize V009 variable and the new column
rec1["birt_month"] =  pd.to_datetime(rec1["V009"], format='%m')
rec1["birt_month"] =  rec1["birt_month"].dt.month_name()
rec1["birt_month"] =  rec1["birt_month"].str.slice(stop=3)
rec1.loc[ :, ["birt_month", "V009"]]

                   birt_month  V009
CASEID
      000100201  2        Apr   4.0
      000100201  3        Jan   1.0
      000102801  2        Jun   6.0
      000102801  6        Mar   3.0
      000104801  2        May   5.0
...                       ...   ...
      325406201  2        Dec  12.0
      325406301  2        Jun   6.0
      325407001  2        Jul   7.0
      325407201  2        Dec  12.0
      325407401  2        Oct  10.0

[38335 rows x 2 columns]