# 1 Assignment 3

In [3]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

#### Answer 3:
For the new column, we use the `loc` method to select a new column and give it the value 2019.
For the new key in the dictionary, we use the `update` method to set a new key with its value.

In [7]:
rec1_1.loc[:,'year'] = 2019

In [8]:
new_var_labels1.update({'year':'Year of the survey'})

#### Answer 4
We use Dataframe.merge method to merge two or multiple Dataframes. 
We use "outer" merge to combine all the rows and to complete with NaN when are no matched values in the rows.

In [9]:
endes_2019 = rec1_1.merge(rec2_1, on="CASEID", how="outer").merge(rec3_1, on="CASEID", how="outer")
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0

#### Answer 5:
We made the same process to get both `var_labels` and `value_labels` objects. Start coping the object with the first group of labels, then update the new object adding the keys from the second group of labels and, finally, update the new object again, but with the keys from the third group of labels.

Those two objects were used to create new attributes for `endes_2019` using `attrs` method.

In [10]:
var_labels = new_var_labels1.copy()
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

In [11]:
value_labels = new_value_labels1.copy()
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

In [12]:
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

#### Answer 6:
Steps:
1. Select the columns of interest, use `describe` to get all the summary statistics and use `reset_index` to get the index with the name of statistics as a column.
2. Use `melt` method to get the column names as a variable itself.
3. Use `pivot` method to obtain new columns named as each statistic. Erase name axis for "index" and then reset the index to get a table of double entry.
4. Use `loc` to select only the desired statistics.
5. Add a new column containing the number of missing values for each variable.
6. Use `sort_values` method to sort ascending the new dataframe by number of missing rows.
7. Give a list with the new names for each column.

In [13]:
summary = endes_2019.loc[:,['V201','V613','V715','V511']].describe(include='all').reset_index()
summary = summary.melt(id_vars = ['index'], var_name = 'Variables', value_name = 'values')
summary = summary.pivot(index = 'Variables', columns = 'index', values = 'values').rename_axis( [None], axis = 1 ).reset_index()
summary = summary.loc[:,['Variables','min','max','mean','count']]
summary.loc[:,'N_missing'] = list(endes_2019.loc[:,['V201','V613','V715','V511']].isnull().sum())
summary = summary.sort_values('N_missing')
summary.columns = ['Variables', 'Min', 'Max', 'Mean', 'N_obs', 'N_missing']
summary

  Variables   Min   Max       Mean    N_obs  N_missing
0      V201   0.0  13.0   1.781946  36922.0       1413
1      V511  10.0  48.0  20.463738  25881.0       5024
2      V613   NaN   NaN        NaN  33311.0      12454
3      V715   NaN   NaN        NaN  25881.0      12454

#### Answer 7
First of all, we transform variables from categorical to float, in order to get the mean. 
After, we use the "group.by mean" function in order to get the mean of multiple columns at a time for each grup, in this case, by year and department.
After that, we use the "rename" function to rename some selected columns.

In [14]:
endes_2019.loc[:,'V613'] = endes_2019.loc[:,'V613'].replace('Respuesta no numérica', np.nan).astype(str).astype(float)
endes_2019.loc[:,'V715'] = endes_2019.loc[:,'V715'].replace('No sabe', np.nan).astype(str).astype(float)

In [15]:
mean_key_vars = endes_2019.groupby( 'V024', as_index=False )['V201' ,'V613' , 'V715', 'V511'].mean()
mean_key_vars

C:\Users\maria\AppData\Local\Temp\ipykernel_13756\1915582610.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_key_vars = endes_2019.groupby( 'V024', as_index=False )['V201' ,'V613' , 'V715', 'V511'].mean()

              V024      V201      V613       V715       V511
0          Huanuco  1.989754  2.446940   8.842528  19.818632
1              Ica  1.671034  2.353429  11.825332  20.747208
2            Junin  1.836656  2.199660  10.942122  20.683761
3      La Libertad  1.704082  2.355519   9.907909  20.774678
4       Lambayeque  1.673928  2.399849  11.123396  20.953831
5             Lima  1.476121  2.235107  11.731348  21.946329
6           Loreto  2.157568  2.476703  10.109375  18.448529
7    Madre de Dios  1.972514  2.272398  10.729053  19.467449
8         Moquegua  1.626724  1.965613  12.568605  21.640046
9            Pasco  1.854436  2.526570  11.032680  20.395379
10           Piura  1.812752  2.611650  10.032480  20.451737
11            Puno  1.794307  2.024316  10.836151  20.398964
12      San Martin  1.903340  2.493333   9.621053  18.953155
13           Tacna  1.436502  2.013083  12.141403  22.065095
14          Tumbes  1.756925  2.469824  11.118095  19.409821
15         Ucayali  2.012258  2.388399  10.709355  18.985481
16        Amazonas  1.980892  2.443906   9.440580  19.266152
17          Ancash  1.771065  2.383260  10.495381  20.591581
18        Apurimac  2.003463  2.207269  10.537530  20.064982
19        Arequipa  1.539910  2.137875  12.244275  22.304394
20        Ayacucho  1.848787  2.209026  10.470772  20.340228
21       Cajamarca  1.931559  2.545923   8.708874  19.610695
22          Callao  1.567164  2.241724  11.663909  21.517241
23           Cusco  1.894415  2.100097  10.569194  20.283154
24    Huancavelica  2.083969  2.295098   9.879221  19.780769

In [16]:
mean_key_vars = mean_key_vars.rename(columns={'V201':'mean_total_children', 'V613':'mean_ideal_children', 'V715':'mean_hb_yr_educ', 'V511':'mean_first_marriage'})
mean_key_vars

,V024,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,Huanuco,1.989754,2.446940,8.842528,19.818632
1,Ica,1.671034,2.353429,11.825332,20.747208
2,Junin,1.836656,2.199660,10.942122,20.683761
3,La Libertad,1.704082,2.355519,9.907909,20.774678
4,Lambayeque,1.673928,2.399849,11.123396,20.953831
5,Lima,1.476121,2.235107,11.731348,21.946329
6,Loreto,2.157568,2.476703,10.109375,18.448529
7,Madre de Dios,1.972514,2.272398,10.729053,19.467449
8,Moquegua,1.626724,1.965613,12.568605,21.640046
9,Pasco,1.854436,2.526570,11.032680,20.395379
10,Piura,1.812752,2.611650,10.032480,20.451737
11,Puno,1.794307,2.024316,10.836151,20.398964
12,San Martin,1.903340,2.493333,9.621053,18.953155
13,Tacna,1.436502,2.013083,12.141403,22.065095
14,Tumbes,1.756925,2.469824,11.118095,19.409821
15,Ucayali,2.012258,2.388399,10.709355,18.985481
16,Amazonas,1.980892,2.443906,9.440580,19.266152
17,Ancash,1.771065,2.383260,10.495381,20.591581
18,Apurimac,2.003463,2.207269,10.537530,20.064982
19,Arequipa,1.539910,2.137875,12.244275,22.304394
20,Ayacucho,1.848787,2.209026,10.470772,20.340228
21,Cajamarca,1.931559,2.545923,8.708874,19.610695
22,Callao,1.567164,2.241724,11.663909,21.517241
23,Cusco,1.894415,2.100097,10.569194,20.283154
24,Huancavelica,2.083969,2.295098,9.879221,19.780769

#### Answer 8
We use "melt" function to convert a dataframe from wide format to a long format.
In this case varible "V024" is the column that we use as an id,
and the rest are the columns we unpivot. This function allow us to put
names to the columns which have the variables and values, but not for the id column. 
That's why we use the "rename" function to do it.

In [17]:
reshape_mean_key_vars = pd.melt(mean_key_vars, id_vars='V024', value_vars=['mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage'],
             var_name='variables', value_name='values')
reshape_mean_key_vars

            V024            variables     values
0        Huanuco  mean_total_children   1.989754
1            Ica  mean_total_children   1.671034
2          Junin  mean_total_children   1.836656
3    La Libertad  mean_total_children   1.704082
4     Lambayeque  mean_total_children   1.673928
..           ...                  ...        ...
95      Ayacucho  mean_first_marriage  20.340228
96     Cajamarca  mean_first_marriage  19.610695
97        Callao  mean_first_marriage  21.517241
98         Cusco  mean_first_marriage  20.283154
99  Huancavelica  mean_first_marriage  19.780769

[100 rows x 3 columns]

In [18]:
reshape_mean_key_vars = reshape_mean_key_vars.rename(columns={'V024':'dpto'})
reshape_mean_key_vars

            dpto            variables     values
0        Huanuco  mean_total_children   1.989754
1            Ica  mean_total_children   1.671034
2          Junin  mean_total_children   1.836656
3    La Libertad  mean_total_children   1.704082
4     Lambayeque  mean_total_children   1.673928
..           ...                  ...        ...
95      Ayacucho  mean_first_marriage  20.340228
96     Cajamarca  mean_first_marriage  19.610695
97        Callao  mean_first_marriage  21.517241
98         Cusco  mean_first_marriage  20.283154
99  Huancavelica  mean_first_marriage  19.780769

[100 rows x 3 columns]