# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Dictionaries

### Task 1 of 1.1 Dictionaries ###
1. Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]`, and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be stored in a `list`. **Hint: Use the `np.arange`, `zip`, and `np.tolist()` functions.** <br><br>
To create the values, we used the function "np.range". Since the result will be an array, we converted into a list.Then we create two variables: keys (this are strings) and values. Finally, we converted into a dictionary, pairing it with the zip function.

In [3]:
import numpy as np
even_numbers_list=np.array(np.arange(0,2000,2)).tolist()
odd_numbers_list=np.array(np.arange(9001,19001,2)).tolist()

keys = ['even_numbers','odd_numbers']
values = [ even_numbers_list, odd_numbers_list]
dictionary = dict(zip(keys, values))
print(dictionary)

{'even_numbers': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998], 'odd_numbers': [9001, 9003, 9005, 9007, 9009, 9011, 9013, 9015, 9017, 9019, 9021, 9023, 9025, 9027, 9029, 9031, 9033, 9035, 9037, 9039, 9041, 9043, 9045, 9047, 9049, 9051, 9053, 9055, 9057, 9059, 9061, 9063, 9065, 9067, 9069, 9071, 9073, 9075, 9077, 9079, 9081, 9083, 9085, 9087, 9089, 9091, 9093, 9095, 9097, 9099, 9101, 9103, 9105, 9107, 9109, 9111, 9113, 9115, 9117, 9119, 9121, 9123, 9125, 9127, 9129, 9131, 9133, 9135, 9137, 9139, 9141, 9143, 9145, 9147, 9149, 9151, 9153, 9155, 9157, 9159, 9161, 9163, 9165, 9167, 9169, 9171, 9173, 9175, 9177, 9179, 9181, 9183, 9185, 9187, 9189, 9191, 9193, 9195, 9197, 9199, 9201, 9203, 9205, 9207, 9209, 9211, 9213, 9215, 9217, 9219, 9221, 9223, 9225, 9227, 9229, 9231, 9233, 9235, 9237, 9239, 9241, 9243, 9245, 9247, 9249, 9251, 9253, 9255, 9257, 9259, 9261, 9263, 9265, 9267, 9269, 9271, 9273, 9275, 9277, 9279, 9281, 9283, 9285, 9287, 9289, 9291, 9293, 9295, 9297, 9299, 9301, 9303, 9305, 9307, 9309, 9311, 9313, 9315, 9317, 9319, 9321, 9323, 9325, 9327, 9329, 9331, 9333, 9335, 9337, 9339, 9341, 9343, 9345, 9347, 9349, 9351, 9353, 9355, 9357, 9359, 9361, 9363, 9365, 9367, 9369, 9371, 9373, 9375, 9377, 9379, 9381, 9383, 9385, 9387, 9389, 9391, 9393, 9395, 9397, 9399, 9401, 9403, 9405, 9407, 9409, 9411, 9413, 9415, 9417, 9419, 9421, 9423, 9425, 9427, 9429, 9431, 9433, 9435, 9437, 9439, 9441, 9443, 9445, 9447, 9449, 9451, 9453, 9455, 9457, 9459, 9461, 9463, 9465, 9467, 9469, 9471, 9473, 9475, 9477, 9479, 9481, 9483, 9485, 9487, 9489, 9491, 9493, 9495, 9497, 9499, 9501, 9503, 9505, 9507, 9509, 9511, 9513, 9515, 9517, 9519, 9521, 9523, 9525, 9527, 9529, 9531, 9533, 9535, 9537, 9539, 9541, 9543, 9545, 9547, 9549, 9551, 9553, 9555, 9557, 9559, 9561, 9563, 9565, 9567, 9569, 9571, 9573, 9575, 9577, 9579, 9581, 9583, 9585, 9587, 9589, 9591, 9593, 9595, 9597, 9599, 9601, 9603, 9605, 9607, 9609, 9611, 9613, 9615, 9617, 9619, 9621, 9623, 9625, 9627, 9629, 9631, 9633, 9635, 9637, 9639, 9641, 9643, 9645, 9647, 9649, 9651, 9653, 9655, 9657, 9659, 9661, 9663, 9665, 9667, 9669, 9671, 9673, 9675, 9677, 9679, 9681, 9683, 9685, 9687, 9689, 9691, 9693, 9695, 9697, 9699, 9701, 9703, 9705, 9707, 9709, 9711, 9713, 9715, 9717, 9719, 9721, 9723, 9725, 9727, 9729, 9731, 9733, 9735, 9737, 9739, 9741, 9743, 9745, 9747, 9749, 9751, 9753, 9755, 9757, 9759, 9761, 9763, 9765, 9767, 9769, 9771, 9773, 9775, 9777, 9779, 9781, 9783, 9785, 9787, 9789, 9791, 9793, 9795, 9797, 9799, 9801, 9803, 9805, 9807, 9809, 9811, 9813, 9815, 9817, 9819, 9821, 9823, 9825, 9827, 9829, 9831, 9833, 9835, 9837, 9839, 9841, 9843, 9845, 9847, 9849, 9851, 9853, 9855, 9857, 9859, 9861, 9863, 9865, 9867, 9869, 9871, 9873, 9875, 9877, 9879, 9881, 9883, 9885, 9887, 9889, 9891, 9893, 9895, 9897, 9899, 9901, 9903, 9905, 9907, 9909, 9911, 9913, 9915, 9917, 9919, 9921, 9923, 9925, 9927, 9929, 9931, 9933, 9935, 9937, 9939, 9941, 9943, 9945, 9947, 9949, 9951, 9953, 9955, 9957, 9959, 9961, 9963, 9965, 9967, 9969, 9971, 9973, 9975, 9977, 9979, 9981, 9983, 9985, 9987, 9989, 9991, 9993, 9995, 9997, 9999, 10001, 10003, 10005, 10007, 10009, 10011, 10013, 10015, 10017, 10019, 10021, 10023, 10025, 10027, 10029, 10031, 10033, 10035, 10037, 10039, 10041, 10043, 10045, 10047, 10049, 10051, 10053, 10055, 10057, 10059, 10061, 10063, 10065, 10067, 10069, 10071, 10073, 10075, 10077, 10079, 10081, 10083, 10085, 10087, 10089, 10091, 10093, 10095, 10097, 10099, 10101, 10103, 10105, 10107, 10109, 10111, 10113, 10115, 10117, 10119, 10121, 10123, 10125, 10127, 10129, 10131, 10133, 10135, 10137, 10139, 10141, 10143, 10145, 10147, 10149, 10151, 10153, 10155, 10157, 10159, 10161, 10163, 10165, 10167, 10169, 10171, 10173, 10175, 10177, 10179, 10181, 10183, 10185, 10187, 10189, 10191, 10193, 10195, 10197, 10199, 10201, 10203, 10205, 10207, 10209, 10211, 10213, 10215, 10217, 10219, 10221, 10223, 10225, 10227, 10229, 10231, 10233, 10235, 10237, 10239, 10241, 10243, 10245, 10247, 10249, 10251, 10253, 10255, 10257, 10259, 10261, 10263, 10265, 10267, 10269, 10271, 10273, 10275, 10277, 10279, 10281, 10283, 10285, 10287, 10289, 10291, 10293, 10295, 10297, 10299, 10301, 10303, 10305, 10307, 10309, 10311, 10313, 10315, 10317, 10319, 10321, 10323, 10325, 10327, 10329, 10331, 10333, 10335, 10337, 10339, 10341, 10343, 10345, 10347, 10349, 10351, 10353, 10355, 10357, 10359, 10361, 10363, 10365, 10367, 10369, 10371, 10373, 10375, 10377, 10379, 10381, 10383, 10385, 10387, 10389, 10391, 10393, 10395, 10397, 10399, 10401, 10403, 10405, 10407, 10409, 10411, 10413, 10415, 10417, 10419, 10421, 10423, 10425, 10427, 10429, 10431, 10433, 10435, 10437, 10439, 10441, 10443, 10445, 10447, 10449, 10451, 10453, 10455, 10457, 10459, 10461, 10463, 10465, 10467, 10469, 10471, 10473, 10475, 10477, 10479, 10481, 10483, 10485, 10487, 10489, 10491, 10493, 10495, 10497, 10499, 10501, 10503, 10505, 10507, 10509, 10511, 10513, 10515, 10517, 10519, 10521, 10523, 10525, 10527, 10529, 10531, 10533, 10535, 10537, 10539, 10541, 10543, 10545, 10547, 10549, 10551, 10553, 10555, 10557, 10559, 10561, 10563, 10565, 10567, 10569, 10571, 10573, 10575, 10577, 10579, 10581, 10583, 10585, 10587, 10589, 10591, 10593, 10595, 10597, 10599, 10601, 10603, 10605, 10607, 10609, 10611, 10613, 10615, 10617, 10619, 10621, 10623, 10625, 10627, 10629, 10631, 10633, 10635, 10637, 10639, 10641, 10643, 10645, 10647, 10649, 10651, 10653, 10655, 10657, 10659, 10661, 10663, 10665, 10667, 10669, 10671, 10673, 10675, 10677, 10679, 10681, 10683, 10685, 10687, 10689, 10691, 10693, 10695, 10697, 10699, 10701, 10703, 10705, 10707, 10709, 10711, 10713, 10715, 10717, 10719, 10721, 10723, 10725, 10727, 10729, 10731, 10733, 10735, 10737, 10739, 10741, 10743, 10745, 10747, 10749, 10751, 10753, 10755, 10757, 10759, 10761, 10763, 10765, 10767, 10769, 10771, 10773, 10775, 10777, 10779, 10781, 10783, 10785, 10787, 10789, 10791, 10793, 10795, 10797, 10799, 10801, 10803, 10805, 10807, 10809, 10811, 10813, 10815, 10817, 10819, 10821, 10823, 10825, 10827, 10829, 10831, 10833, 10835, 10837, 10839, 10841, 10843, 10845, 10847, 10849, 10851, 10853, 10855, 10857, 10859, 10861, 10863, 10865, 10867, 10869, 10871, 10873, 10875, 10877, 10879, 10881, 10883, 10885, 10887, 10889, 10891, 10893, 10895, 10897, 10899, 10901, 10903, 10905, 10907, 10909, 10911, 10913, 10915, 10917, 10919, 10921, 10923, 10925, 10927, 10929, 10931, 10933, 10935, 10937, 10939, 10941, 10943, 10945, 10947, 10949, 10951, 10953, 10955, 10957, 10959, 10961, 10963, 10965, 10967, 10969, 10971, 10973, 10975, 10977, 10979, 10981, 10983, 10985, 10987, 10989, 10991, 10993, 10995, 10997, 10999, 11001, 11003, 11005, 11007, 11009, 11011, 11013, 11015, 11017, 11019, 11021, 11023, 11025, 11027, 11029, 11031, 11033, 11035, 11037, 11039, 11041, 11043, 11045, 11047, 11049, 11051, 11053, 11055, 11057, 11059, 11061, 11063, 11065, 11067, 11069, 11071, 11073, 11075, 11077, 11079, 11081, 11083, 11085, 11087, 11089, 11091, 11093, 11095, 11097, 11099, 11101, 11103, 11105, 11107, 11109, 11111, 11113, 11115, 11117, 11119, 11121, 11123, 11125, 11127, 11129, 11131, 11133, 11135, 11137, 11139, 11141, 11143, 11145, 11147, 11149, 11151, 11153, 11155, 11157, 11159, 11161, 11163, 11165, 11167, 11169, 11171, 11173, 11175, 11177, 11179, 11181, 11183, 11185, 11187, 11189, 11191, 11193, 11195, 11197, 11199, 11201, 11203, 11205, 11207, 11209, 11211, 11213, 11215, 11217, 11219, 11221, 11223, 11225, 11227, 11229, 11231, 11233, 11235, 11237, 11239, 11241, 11243, 11245, 11247, 11249, 11251, 11253, 11255, 11257, 11259, 11261, 11263, 11265, 11267, 11269, 11271, 11273, 11275, 11277, 11279, 11281, 11283, 11285, 11287, 11289, 11291, 11293, 11295, 11297, 11299, 11301, 11303, 11305, 11307, 11309, 11311, 11313, 11315, 11317, 11319, 11321, 11323, 11325, 11327, 11329, 11331, 11333, 11335, 11337, 11339, 11341, 11343, 11345, 11347, 11349, 11351, 11353, 11355, 11357, 11359, 11361, 11363, 11365, 11367, 11369, 11371, 11373, 11375, 11377, 11379, 11381, 11383, 11385, 11387, 11389, 11391, 11393, 11395, 11397, 11399, 11401, 11403, 11405, 11407, 11409, 11411, 11413, 11415, 11417, 11419, 11421, 11423, 11425, 11427, 11429, 11431, 11433, 11435, 11437, 11439, 11441, 11443, 11445, 11447, 11449, 11451, 11453, 11455, 11457, 11459, 11461, 11463, 11465, 11467, 11469, 11471, 11473, 11475, 11477, 11479, 11481, 11483, 11485, 11487, 11489, 11491, 11493, 11495, 11497, 11499, 11501, 11503, 11505, 11507, 11509, 11511, 11513, 11515, 11517, 11519, 11521, 11523, 11525, 11527, 11529, 11531, 11533, 11535, 11537, 11539, 11541, 11543, 11545, 11547, 11549, 11551, 11553, 11555, 11557, 11559, 11561, 11563, 11565, 11567, 11569, 11571, 11573, 11575, 11577, 11579, 11581, 11583, 11585, 11587, 11589, 11591, 11593, 11595, 11597, 11599, 11601, 11603, 11605, 11607, 11609, 11611, 11613, 11615, 11617, 11619, 11621, 11623, 11625, 11627, 11629, 11631, 11633, 11635, 11637, 11639, 11641, 11643, 11645, 11647, 11649, 11651, 11653, 11655, 11657, 11659, 11661, 11663, 11665, 11667, 11669, 11671, 11673, 11675, 11677, 11679, 11681, 11683, 11685, 11687, 11689, 11691, 11693, 11695, 11697, 11699, 11701, 11703, 11705, 11707, 11709, 11711, 11713, 11715, 11717, 11719, 11721, 11723, 11725, 11727, 11729, 11731, 11733, 11735, 11737, 11739, 11741, 11743, 11745, 11747, 11749, 11751, 11753, 11755, 11757, 11759, 11761, 11763, 11765, 11767, 11769, 11771, 11773, 11775, 11777, 11779, 11781, 11783, 11785, 11787, 11789, 11791, 11793, 11795, 11797, 11799, 11801, 11803, 11805, 11807, 11809, 11811, 11813, 11815, 11817, 11819, 11821, 11823, 11825, 11827, 11829, 11831, 11833, 11835, 11837, 11839, 11841, 11843, 11845, 11847, 11849, 11851, 11853, 11855, 11857, 11859, 11861, 11863, 11865, 11867, 11869, 11871, 11873, 11875, 11877, 11879, 11881, 11883, 11885, 11887, 11889, 11891, 11893, 11895, 11897, 11899, 11901, 11903, 11905, 11907, 11909, 11911, 11913, 11915, 11917, 11919, 11921, 11923, 11925, 11927, 11929, 11931, 11933, 11935, 11937, 11939, 11941, 11943, 11945, 11947, 11949, 11951, 11953, 11955, 11957, 11959, 11961, 11963, 11965, 11967, 11969, 11971, 11973, 11975, 11977, 11979, 11981, 11983, 11985, 11987, 11989, 11991, 11993, 11995, 11997, 11999, 12001, 12003, 12005, 12007, 12009, 12011, 12013, 12015, 12017, 12019, 12021, 12023, 12025, 12027, 12029, 12031, 12033, 12035, 12037, 12039, 12041, 12043, 12045, 12047, 12049, 12051, 12053, 12055, 12057, 12059, 12061, 12063, 12065, 12067, 12069, 12071, 12073, 12075, 12077, 12079, 12081, 12083, 12085, 12087, 12089, 12091, 12093, 12095, 12097, 12099, 12101, 12103, 12105, 12107, 12109, 12111, 12113, 12115, 12117, 12119, 12121, 12123, 12125, 12127, 12129, 12131, 12133, 12135, 12137, 12139, 12141, 12143, 12145, 12147, 12149, 12151, 12153, 12155, 12157, 12159, 12161, 12163, 12165, 12167, 12169, 12171, 12173, 12175, 12177, 12179, 12181, 12183, 12185, 12187, 12189, 12191, 12193, 12195, 12197, 12199, 12201, 12203, 12205, 12207, 12209, 12211, 12213, 12215, 12217, 12219, 12221, 12223, 12225, 12227, 12229, 12231, 12233, 12235, 12237, 12239, 12241, 12243, 12245, 12247, 12249, 12251, 12253, 12255, 12257, 12259, 12261, 12263, 12265, 12267, 12269, 12271, 12273, 12275, 12277, 12279, 12281, 12283, 12285, 12287, 12289, 12291, 12293, 12295, 12297, 12299, 12301, 12303, 12305, 12307, 12309, 12311, 12313, 12315, 12317, 12319, 12321, 12323, 12325, 12327, 12329, 12331, 12333, 12335, 12337, 12339, 12341, 12343, 12345, 12347, 12349, 12351, 12353, 12355, 12357, 12359, 12361, 12363, 12365, 12367, 12369, 12371, 12373, 12375, 12377, 12379, 12381, 12383, 12385, 12387, 12389, 12391, 12393, 12395, 12397, 12399, 12401, 12403, 12405, 12407, 12409, 12411, 12413, 12415, 12417, 12419, 12421, 12423, 12425, 12427, 12429, 12431, 12433, 12435, 12437, 12439, 12441, 12443, 12445, 12447, 12449, 12451, 12453, 12455, 12457, 12459, 12461, 12463, 12465, 12467, 12469, 12471, 12473, 12475, 12477, 12479, 12481, 12483, 12485, 12487, 12489, 12491, 12493, 12495, 12497, 12499, 12501, 12503, 12505, 12507, 12509, 12511, 12513, 12515, 12517, 12519, 12521, 12523, 12525, 12527, 12529, 12531, 12533, 12535, 12537, 12539, 12541, 12543, 12545, 12547, 12549, 12551, 12553, 12555, 12557, 12559, 12561, 12563, 12565, 12567, 12569, 12571, 12573, 12575, 12577, 12579, 12581, 12583, 12585, 12587, 12589, 12591, 12593, 12595, 12597, 12599, 12601, 12603, 12605, 12607, 12609, 12611, 12613, 12615, 12617, 12619, 12621, 12623, 12625, 12627, 12629, 12631, 12633, 12635, 12637, 12639, 12641, 12643, 12645, 12647, 12649, 12651, 12653, 12655, 12657, 12659, 12661, 12663, 12665, 12667, 12669, 12671, 12673, 12675, 12677, 12679, 12681, 12683, 12685, 12687, 12689, 12691, 12693, 12695, 12697, 12699, 12701, 12703, 12705, 12707, 12709, 12711, 12713, 12715, 12717, 12719, 12721, 12723, 12725, 12727, 12729, 12731, 12733, 12735, 12737, 12739, 12741, 12743, 12745, 12747, 12749, 12751, 12753, 12755, 12757, 12759, 12761, 12763, 12765, 12767, 12769, 12771, 12773, 12775, 12777, 12779, 12781, 12783, 12785, 12787, 12789, 12791, 12793, 12795, 12797, 12799, 12801, 12803, 12805, 12807, 12809, 12811, 12813, 12815, 12817, 12819, 12821, 12823, 12825, 12827, 12829, 12831, 12833, 12835, 12837, 12839, 12841, 12843, 12845, 12847, 12849, 12851, 12853, 12855, 12857, 12859, 12861, 12863, 12865, 12867, 12869, 12871, 12873, 12875, 12877, 12879, 12881, 12883, 12885, 12887, 12889, 12891, 12893, 12895, 12897, 12899, 12901, 12903, 12905, 12907, 12909, 12911, 12913, 12915, 12917, 12919, 12921, 12923, 12925, 12927, 12929, 12931, 12933, 12935, 12937, 12939, 12941, 12943, 12945, 12947, 12949, 12951, 12953, 12955, 12957, 12959, 12961, 12963, 12965, 12967, 12969, 12971, 12973, 12975, 12977, 12979, 12981, 12983, 12985, 12987, 12989, 12991, 12993, 12995, 12997, 12999, 13001, 13003, 13005, 13007, 13009, 13011, 13013, 13015, 13017, 13019, 13021, 13023, 13025, 13027, 13029, 13031, 13033, 13035, 13037, 13039, 13041, 13043, 13045, 13047, 13049, 13051, 13053, 13055, 13057, 13059, 13061, 13063, 13065, 13067, 13069, 13071, 13073, 13075, 13077, 13079, 13081, 13083, 13085, 13087, 13089, 13091, 13093, 13095, 13097, 13099, 13101, 13103, 13105, 13107, 13109, 13111, 13113, 13115, 13117, 13119, 13121, 13123, 13125, 13127, 13129, 13131, 13133, 13135, 13137, 13139, 13141, 13143, 13145, 13147, 13149, 13151, 13153, 13155, 13157, 13159, 13161, 13163, 13165, 13167, 13169, 13171, 13173, 13175, 13177, 13179, 13181, 13183, 13185, 13187, 13189, 13191, 13193, 13195, 13197, 13199, 13201, 13203, 13205, 13207, 13209, 13211, 13213, 13215, 13217, 13219, 13221, 13223, 13225, 13227, 13229, 13231, 13233, 13235, 13237, 13239, 13241, 13243, 13245, 13247, 13249, 13251, 13253, 13255, 13257, 13259, 13261, 13263, 13265, 13267, 13269, 13271, 13273, 13275, 13277, 13279, 13281, 13283, 13285, 13287, 13289, 13291

### Task 2 of 1.1 Dictionaries ###
2. Print the value of `brand` key of `car` dictionary. **Hint: Use the `get` method.** <br><br>
To answered the question, we just applicated the get method.

In [6]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Los valores del key 'brand' : " + str(car.get("brand")))

Los valores del key 'brand' : Ford

### Task 3 of 1.1. Dictionaries ###
3. Print all the the values of `brand` key of `car` dictionary. **Hint: Use the `values` method.** <br><br>
To answered the question, we just applicated the method value method.

In [11]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Los valores del diccionario 'car' : " + str(list(car.values())))

Los valores del diccionario 'car' : ['Ford', 'Mustang', 1964]

### Task 4 of 1.1. Dictionaries ###
4. Print the max value  of `friday` in `january` of `hr_sleep` dictionary. **Hint: [Indexing in nested dictioanries](https://stackoverflow.com/questions/25836376/how-to-get-the-inner-indexes-of-a-nested-dictionary-in-python).** <br><br>

In [ ]:
hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

max_val = max(hr_sleep["january"]["friday"])
print("El valor máximo del key 'friday' en 'january' : " + str(max_val))

### Task 5 of 1.1. Dictionaries ###
5. Add `march` key to the `hr_sleep` dictionary using `week1` and `values2` Python lists. **Hint: Use `zip` function adn [this link](https://stackoverflow.com/questions/1024847/how-can-i-add-new-keys-to-a-dictionary).** <br><br>

In [13]:
# Solución 01: Agregamos el key 'march' teniendo como valor la LISTA que resulta de unir los valores de 'week1' y 'values2'
hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]
week1.extend(values2)
week1

hr_sleep["march"] = week1
hr_sleep

{'january': {'wednesday': 7, 'thursday': 8, 'friday': [2, 2, 1, 2]},
 'february': {'saturday': 5, 'sunday': 10, 'monday': 8},
 'march': ['monday', 'sunday', [2, 3, 4], 8]}

In [ ]:
# Solución 02: Agregamos el key 'march' teniendo como valor el DICCIONARIO que resulta de unir los valores de 'week1' y 'values2'

hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]
march_dict = {week1[i] : values2[i] for i in range(len(week1))}

hr_sleep["march"] = march_dict
hr_sleep

## 1.2 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [2]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

#### Task 1 of 1.2 Numpy
To acomplissh task 1, we use operator % to indicate that the data should be arranged according to the suggested multiple number, then the operate == assign the position to iniciate the selection of data. With both operators, we can select even number in numpy array "np1" and use indexing to replace them with 100.

In [3]:
np1[np1%2==0]=100
print(np1)

[100 201 100 203 100 205 100 207 100 209 100 211 100 213 100 215 100 217
 100 219 100 221 100 223 100 225 100 227 100 229 100 231 100 233 100 235
 100 237 100 239 100 241 100 243 100 245 100 247 100 249 100 251 100 253
 100 255 100 257 100 259 100 261 100 263 100 265 100 267 100 269 100 271
 100 273 100 275 100 277 100 279 100 281 100 283 100 285 100 287 100 289
 100 291 100 293 100 295 100 297 100 299 100 301 100 303 100 305 100 307
 100 309 100 311 100 313 100 315 100 317 100 319 100 321 100 323 100 325
 100 327 100 329 100 331 100 333 100 335 100 337 100 339 100 341 100 343
 100 345 100 347 100 349 100 351 100 353 100 355 100 357 100 359 100 361
 100 363 100 365 100 367 100 369 100 371 100 373 100 375 100 377 100 379
 100 381 100 383 100 385 100 387 100 389 100 391 100 393 100 395 100 397
 100 399 100 401 100 403 100 405 100 407 100 409 100 411 100 413 100 415
 100 417 100 419 100 421 100 423 100 425 100 427 100 429 100 431 100 433
 100 435 100 437 100 439 100 441 100 443 100 445 100 447 100 449 100 451
 100 453 100 455 100 457 100 459 100 461 100 463 100 465 100 467 100 469
 100 471 100 473 100 475 100 477 100 479 100 481 100 483 100 485 100 487
 100 489 100 491 100 493 100 495 100 497 100 499 100 501 100 503 100 505
 100 507 100 509 100 511 100 513 100 515 100 517 100 519 100 521 100 523
 100 525 100 527 100 529 100 531 100 533 100 535 100 537 100 539 100 541
 100 543 100 545 100 547 100 549 100 551 100 553 100 555 100 557 100 559
 100 561 100 563 100 565 100 567 100 569 100 571 100 573 100 575 100 577
 100 579 100 581 100 583 100 585 100 587 100 589 100 591 100 593 100 595
 100 597 100 599 100 601 100 603 100 605 100 607 100 609 100 611 100 613
 100 615 100 617 100 619 100 621 100 623 100 625 100 627 100 629 100 631
 100 633 100 635 100 637 100 639 100 641 100 643 100 645 100 647 100 649
 100 651 100 653 100 655 100 657 100 659 100 661 100 663 100 665 100 667
 100 669 100 671 100 673 100 675 100 677 100 679 100 681 100 683 100 685
 100 687 100 689 100 691 100 693 100 695 100 697 100 699 100 701 100 703
 100 705 100 707 100 709 100 711 100 713 100 715 100 717 100 719 100 721
 100 723 100 725 100 727 100 729 100 731 100 733 100 735 100 737 100 739
 100 741 100 743 100 745 100 747 100 749]

#### Task 2 of 1.2 Numpy
For task 2, we use operator the function np.arange to create numpy array from 0 to 8. Then, with fuction reshape, we trasform the array of 9 numbers (from 0 to 8) to 3 arrays with 3 elements in each array.

In [37]:
np3 = np.arange(0,9).reshape(3,3)
print(np3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Task 3 of 1.2 Numpy
For task 3, we transform the list Z to a numpy array with function np.array. Then we generate a series of array by the positions suggested. With these objects, we create a matrix through concatenate function.

In [114]:
Z = [1,2,3,4,5,6,7,8,9,10]
z0 = np.array(Z)
z1 = np.arange(z0[0],z0[4])
z2 = np.arange(z0[1],z0[5])
z3 = np.arange(z0[2],z0[6])
z4 = np.arange(z0[3],z0[7])
z5 = np.arange(z0[4],z0[8])
z6 = np.arange(z0[5],z0[9])
z7 = np.arange(7,11)
R = np.concatenate([[z1,z2,z3,z4,z5,z6,z7]])
R

array([[ 1,  2,  3,  4],
       [ 2,  3,  4,  5],
       [ 3,  4,  5,  6],
       [ 4,  5,  6,  7],
       [ 5,  6,  7,  8],
       [ 6,  7,  8,  9],
       [ 7,  8,  9, 10]])

## Task 4 of 1.2 Numpy

In [4]:
# Realizado por Jose Gomez. La información es subida por el usuario de Alexis Flores
# debido a que no se tiene acceso al repositorio

# Insatlación

import numpy as np

# We indicate that we will use a seed to obtain random data but following a fixed sequence.

np.random.seed(0)

# We create a array 3x3x3 with random values from 0 to 1 set with the seed.
a = np.random.random((3, 3, 3)) 

# Display the array 3x3x3
a

array([[[0.5488135 , 0.71518937, 0.60276338],
        [0.54488318, 0.4236548 , 0.64589411],
        [0.43758721, 0.891773  , 0.96366276]],

       [[0.38344152, 0.79172504, 0.52889492],
        [0.56804456, 0.92559664, 0.07103606],
        [0.0871293 , 0.0202184 , 0.83261985]],

       [[0.77815675, 0.87001215, 0.97861834],
        [0.79915856, 0.46147936, 0.78052918],
        [0.11827443, 0.63992102, 0.14335329]]])

#### Task 5 of 1.2 Numpy
Why is false np.nan == np.nan?

In [ ]:
# Task 5 Realizado por Jose Gomez. La información es subida por el usuario de Alexis Flores
# debido a que no se tiene acceso al repositorio

In [5]:
np.nan == np.nan

False

NAN is a non-number that represents an undefined integer value. In most cases, it represents a missing value in a database. Also, NaN is a special floating point value with a float attribute only. So, the false result with the operator == is given because the value (quantity or unit) that the NAN object carries inside is compared. Being an undefined value, comparing both data will turn out to be false since they are not exact values.

In [6]:
d = np.nan
e = np.nan
d is e

True

However, if we use the "is" operator, we get the result TRUE since it compares both objects based on their identity (float is a float is true). Therefore, the "==" operator compares values of objects, while the "is" operator compares objects based on their attribute or identity. The first will return true as long as the value is defined and equal

Reference
Reference 1: https://www.askpython.com/python/examples/nan-in-numpy-and-pandas Reference 2: https://appdividend.com/2022/01/28/np-nan/ Reference 3: https://www.geeksforgeeks.org/difference-between-and-is-operator-in-python/

#### Task 6 of 1.2 Numpy

In [9]:
# Task 6 Realizado por Jose Gomez. La información es subida por el usuario de Alexis Flores
# debido a que no se tiene acceso al repositorio

In [7]:
np.random.seed(0) #we place a seed to fix the randomization
np2 = np.random.normal( 50 , 4, 300) #Generate a matrix with values based on a normal distribution
print (np2) #Display the array

[57.05620938 51.60062883 53.91495194 58.9635728  57.47023196 46.09088848
 53.80035367 49.39457117 49.58712459 51.64239401 50.57617428 55.81709403
 53.0441509  50.48670007 51.77545293 51.33469731 55.97631629 49.17936694
 51.25227081 46.58361704 39.78804074 52.61447438 53.4577448  47.03133992
 59.0790185  44.1825373  50.18303407 49.2512646  56.13111686 55.87743508
 50.6197897  51.51265008 46.44885701 42.07681413 48.6083514  50.62539588
 54.92116272 54.8095194  48.45069273 48.790789   45.80578814 44.31992825
 43.17491924 57.80310158 47.96139127 48.24770279 44.98881856 53.10996142
 43.54440861 49.14903888 46.41813376 51.54760999 47.95677945 45.27747126
 49.88727109 51.71332748 50.26606889 51.20988759 47.46271163 48.54903534
 47.31015821 48.56178735 46.74741487 43.09486959 50.70970457 48.39287626
 43.47920661 51.85112902 46.37080654 50.20778158 52.91636225 50.51593164
 54.55760274 45.06069672 51.60936656 47.26075964 46.5168114  47.68460134
 48.75378987 50.22466137 45.33940064 53.60330595 51.86264976 43.85502525
 55.95300878 57.5835567  54.71511828 49.28030066 45.71698951 54.21780691
 48.38729221 54.88978028 50.83309991 53.90655615 51.42546559 52.82629267
 50.04200008 57.14348198 50.50764837 51.60795745 57.53260279 44.60896376
 44.91806001 53.87758683 45.30750638 57.77448474 48.34552408 47.01018075
 57.69176811 55.92205917 57.47023584 53.62417863 46.55509726 57.64025981
 48.92798652 53.20982558 53.78900787 49.37995963 52.45631748 53.68882669
 51.50570212 45.60239684 51.1929527  55.30554359 47.22172856 49.40146184
 48.25938579 57.39705491 52.68917903 51.62984734 46.9203357  52.15699677
 47.30266936 50.12732223 47.45661569 52.70573318 52.30636327 49.16680498
 51.58402685 45.62775397 44.03496963 51.75756681 50.66669398 52.54012575
 59.5325791  53.77791795 46.3487111  54.46806515 44.73637036 48.15366158
 49.72703358 56.85337089 47.02098071 46.69424585 49.6061899  47.34608685
 54.50654369 45.68027397 45.41012539 48.24871982 48.0078702  57.71812822
 53.79768323 50.35020497 45.09825792 53.37745191 45.99913861 43.82091561
 54.75211917 51.26777045 53.6834353  51.27491061 53.42732245 47.39589763
 45.86302863 52.72637807 46.78636134 47.24180089 48.17786999 50.06991664
 48.58402435 44.50019483 47.42552639 41.10638739 52.5009258  43.59176938
 45.58246664 50.20866032 47.04174801 56.17205838 44.82857236 51.06820348
 49.84286873 45.32762601 52.09310664 49.31381468 53.0871622  53.29401662
 58.6529438  55.3461118  48.52327265 49.04248329 54.39863838 52.62105492
 52.5605261  43.53217582 49.9026955  47.04787636 51.1196984  49.60739844
 53.64071563 51.26887286 53.14531185 48.13432361 46.22221498 48.35980123
 49.93191834 51.51660694 59.0372358  49.83097139 46.17622    48.6160729
 48.1456161  51.9259259  43.83681194 50.25304798 50.62602615 50.92872414
 47.61073572 49.04831308 44.30375636 48.02672047 47.8285541  51.66420019
 45.37527027 53.12479241 55.97793818 41.7200599  51.70503492 52.70763214
 47.4502519  48.41091274 49.46847769 48.80883648 48.76394812 43.29598477
 54.60932626 54.31847437 46.74654296 44.13430269 52.08425951 47.69684812
 50.56781265 48.72268633 52.766155   52.77899657 47.09761049 44.46654418
 43.66824641 52.44151752 45.24456297 47.97273458 47.61474385 49.78973081
 42.25488078 50.75511439 52.0955641  50.35368835 48.75645531 50.38960067
 51.59618538 38.90962897 57.82364923 51.56037329 47.39036567 48.4361865
 51.97496711 49.53558424 41.87726213 58.25797145 49.55783737 54.08069085
 47.23180061 56.14550822 51.14537476 52.43537534 45.81898654 54.84458116
 52.75927266 55.20738492 47.48764976 48.07589153 59.21566679 45.75993671
 49.4562012  54.54756545 50.39089987 52.33181472 48.40220388 51.48022355]

f-string is a string formatting mechanism known as Literal String Interpolation. Based on a prefix f and between quotation marks (" "), it allows to specify between { } the name of a variable showing its value or to execute a sequence of functions and expressions within the string. With this we obtain the result of the mean, standard deviation and variance rounded to a decimal with the function round(). The standard deviation is obtained from the result of the square root of variance with the help of the function sqrt() with argument np.var().

In [8]:
print(f"The mean is {round(np.mean(np2), 1)}, the standard desviation is {round(np.sqrt(np.var(np2)), 1)} and the variance is {round(np.var(np2), 1)} in the array np2.")

The mean is 50.1, the standard desviation is 4.0 and the variance is 16.0 in the array np2.

## 1.3 Restricted Least Squares

Given the following equation:


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_{qq} lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$


1. Get $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br><br>
2. Get the `covariance matrix` $\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right)$. <br><br>
**Hint: For more information about Restricted Least Squares [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).**<br>

In [47]:
# 1. Get 𝜷ˆ(𝑅𝐿𝑆) vector from the equation bellow. Use the q, p1, p2, p3, CT numpies.

# First we import the relevant libraries:

import numpy as np
from math import log
import pandas as pd

In [48]:
# Now we import the dataset considering the proposed name "greene"
greene = pd.read_csv(r"/Users/joselinchavez/Documents/GitHub/Diplomado_PUCP/Lecture_3/christensen_greene_f4.csv")

#In this case we use the path to the folder where the database 
#is stored because it couldn't be taken directly.

In [49]:
#We can check the database
greene.describe()

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
count,158.000000,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,127.208861,1970.0,53.269962,10469.410759,8001.863228,0.138972,71.421063,0.226387,30.745785,0.632355
std,60.792333,0.0,87.059326,15187.520802,1398.837478,0.054735,11.977489,0.060836,7.943089,0.083324
min,1.000000,1970.0,0.130400,4.000000,5063.490000,0.045900,31.725000,0.092400,9.000000,0.243500
25%,78.500000,1970.0,10.221050,1971.000000,6975.177500,0.099725,67.605000,0.192550,24.477350,0.590100
50%,138.500000,1970.0,25.545400,5645.500000,7890.185000,0.123100,74.120000,0.218600,30.657900,0.645000
75%,178.750000,1970.0,55.315900,12365.750000,8855.230000,0.169800,78.794250,0.252775,36.000000,0.686900
max,218.000000,1970.0,737.408800,115500.000000,13044.000000,0.329100,92.650000,0.457100,51.463000,0.813600

In [50]:
# We use the provided renaming:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [51]:
# We also took logs of the relevant variables (14 variables 
# without the intercept, independents) and we can give it the same form as 
#requested by proposed equation 

ln_q = np.log(q)
ln2_q = 0.5*np.square(ln_q) # in this case we need the additional 
# square to logarithm

ln_p1 = np.log(p1)
ln_p2 = np.log(p2)
ln_p3 = np.log(p3)

ln_qp1 = np.multiply(ln_q, ln_p1) # in this case we need to multiply
# adittional to logarithm
ln_qp2 = np.multiply(ln_q, ln_p2)
ln_qp3 = np.multiply(ln_q, ln_p3)

ln2_p1 = 0.5*np.square(ln_p1)
ln2_p2 = 0.5*np.square(ln_p2)
ln2_p3 = 0.5*np.square(ln_p3)

ln_p1p2 = np.multiply(ln_p1, ln_p2)
ln_p1p3 = np.multiply(ln_p1, ln_p3)
ln_p2p3 = np.multiply(ln_p2, ln_p3)

In [56]:
# Now we create the intercept with the function ones:
intercept = np.ones((len(q), 1))
#intercept

# Likewise, we take logarithm of the dependent variable:
ln_ct = np.log(ct)
#ln_ct

In [65]:
# We must also create the big X matrix, it must contain the 14 
# variables and the intercept, so we use the function stack for columns

X_big = np.column_stack([intercept, ln_q, ln2_q, ln_qp1, ln_qp2, 
                         ln_qp3, ln_p1, ln_p2, ln_p3, ln2_p1, ln2_p2,
                         ln2_p3, ln_p1p2, ln_p1p3, ln_p2p3])

X_big

array([[ 1.        ,  2.07944154,  2.16203856, ..., 25.53597848,
        36.87257416, 12.06308434],
       [ 1.        ,  6.76734313, 22.89846649, ..., 27.52922179,
        38.14391527, 12.86998372],
       [ 1.        ,  7.25276242, 26.30128135, ..., 33.47177703,
        33.28867699, 13.81021534],
       ...,
       [ 1.        ,  5.96870756, 17.81273497, ..., 32.93311772,
        37.80502354, 16.56284231],
       [ 1.        ,  8.57866451, 36.79674242, ..., 34.23242826,
        39.94379007, 16.26769248],
       [ 1.        ,  9.63036563, 46.3719711 , ..., 28.72378963,
        38.10118094, 13.96783596]])

In [81]:
# To estimate the 𝜷ˆ(𝑅𝐿𝑆) we should introduce the restrictions in a matrix called L 
# (similar to the hint). Actually, we can verify that some betas doesn't exist for the
# third, fourth, and fifth restrictions, so the last constraint is implicitly introduced on these 

L = np.array( ( [ 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0 ],
                [ 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1 ] ) )

rr = [ 1, 0, 0, 0, 0 ]

print(L)
print(rr)

[[0 0 0 0 0 0 1 1 1 0 0 0 0 0 0]
 [0 0 0 1 1 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0 1 1 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 1 0 1]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 1 1]]
[1, 0, 0, 0, 0]

In [73]:
# We implementing the total database:
data_smpl = pd.DataFrame(np.column_stack([ln_ct, X_big]), columns = ["ln_ct","intercept", "ln_q", "ln2_q", 
                                                                     "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                                                     "ln_p2", "ln_p3", "ln2_p1", "ln2_p2",
                                                                     "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"])
#data_smpl

In [78]:
# Now we calculate the usual BETA_ols
XTX_inv  = np.linalg.inv(np.dot(np.transpose(X_big), X_big))
BETAS_ols = np.dot(XTX_inv, np.dot(np.transpose(X_big), ln_ct))

#Nevertheless, we need to calculate the RLS estimator expressed as β_RLS = β_OLS + "Restriction Adjustment"
RA_1 = np.dot(XTX_inv, np.transpose(L))
RA_2 = np.linalg.inv(np.linalg.multi_dot([L, XTX_inv, np.transpose(L)]))
RA_3 = np.dot(L, BETAS_ols) - np.array(rr)
RA   = RA_1.dot(RA_2).dot(RA_3)

# With this adjustment component, we can finally calculate the RLS estimator:
BETAS_rls = BETAS_ols - RA
print(pd.DataFrame(BETAS_rls, index = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"]))

                  0
intercept -7.111200
ln_q       0.461368
ln2_q      0.059955
ln_qp1    -0.004354
ln_qp2     0.036778
ln_qp3    -0.032424
ln_p1      0.215566
ln_p2      0.402923
ln_p3      0.381511
ln2_p1    -0.004356
ln2_p2     0.002578
ln2_p3    -0.007651
ln_p1p2   -0.002936
ln_p1p3    0.007292
ln_p2p3    0.000358

In [80]:
# 2. Get the covariance matrix 𝕍ar(𝜷ˆ(𝑅𝐿𝑆))

# To calculate the covariance matrix we create the estimation residuals, 
# then we find the covvar matrix called "VarCov_rls":
ln_ct_fit = np.dot(X_big, BETAS_rls)
e_resid = np.array(ln_ct) - ln_ct_fit

sigma2_rls = np.sum(e_resid**2) / (len(data_smpl.index) - (len(BETAS_rls) - len(rr)))

D_mat = np.identity(len(BETAS_rls)) - RA_1.dot(RA_2).dot(L)
VarCov_rls = sigma2_rls * D_mat.dot(XTX_inv)

print(pd.DataFrame(VarCov_rls, 
                   index = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"], 
                   columns = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"]))

           intercept      ln_q     ln2_q    ln_qp1    ln_qp2    ln_qp3  \
intercept   8.485895 -0.096160  0.000206  0.015677 -0.022104  0.006427
ln_q       -0.096160  0.016015 -0.000070 -0.002912  0.002270  0.000642
ln2_q       0.000206 -0.000070  0.000020 -0.000016 -0.000002  0.000019
ln_qp1      0.015677 -0.002912 -0.000016  0.000585 -0.000363 -0.000222
ln_qp2     -0.022104  0.002270 -0.000002 -0.000363  0.000654 -0.000291
ln_qp3      0.006427  0.000642  0.000019 -0.000222 -0.000291  0.000513
ln_p1      -3.050502  0.012193 -0.000038 -0.001377  0.005099 -0.003722
ln_p2       1.613544 -0.014739  0.000150  0.001701 -0.006121  0.004419
ln_p3       1.436958  0.002546 -0.000112 -0.000324  0.001022 -0.000697
ln2_p1      0.198259  0.000797  0.000012 -0.000240 -0.000166  0.000406
ln2_p2     -0.045968 -0.001459  0.000031  0.000281  0.000029 -0.000310
ln2_p3     -0.411072 -0.000658 -0.000048  0.000287  0.000230 -0.000517
ln_p1p2    -0.281682  0.000002 -0.000046  0.000123  0.000184 -0.000307
ln_p1p3     0.083423 -0.000799  0.000033  0.000117 -0.000018 -0.000099
ln_p2p3     0.327650  0.001457  0.000015 -0.000404 -0.000213  0.000617

              ln_p1     ln_p2     ln_p3    ln2_p1    ln2_p2    ln2_p3  \
intercept -3.050502  1.613544  1.436958  0.198259 -0.045968 -0.411072
ln_q       0.012193 -0.014739  0.002546  0.000797 -0.001459 -0.000658
ln2_q     -0.000038  0.000150 -0.000112  0.000012  0.000031 -0.000048
ln_qp1    -0.001377  0.001701 -0.000324 -0.000240  0.000281  0.000287
ln_qp2     0.005099 -0.006121  0.001022 -0.000166  0.000029  0.000230
ln_qp3    -0.003722  0.004419 -0.000697  0.000406 -0.000310 -0.000517
ln_p1      1.151568 -0.589638 -0.561930 -0.078231  0.022798  0.154840
ln_p2     -0.589638  0.343127  0.246511  0.039021 -0.001273 -0.085612
ln_p3     -0.561930  0.246511  0.315419  0.039210 -0.021524 -0.069228
ln2_p1    -0.078231  0.039021  0.039210  0.005550 -0.002064 -0.010488
ln2_p2     0.022798 -0.001273 -0.021524 -0.002064  0.007181 -0.001587
ln2_p3     0.154840 -0.085612 -0.069228 -0.010488 -0.001587  0.025193
ln_p1p2    0.105136 -0.061679 -0.043457 -0.006987 -0.003352  0.018634
ln_p1p3   -0.026906  0.022659  0.004247  0.001437  0.005416 -0.008146
ln_p2p3   -0.127934  0.062953  0.064981  0.009051 -0.003828 -0.017047

            ln_p1p2   ln_p1p3   ln_p2p3
intercept -0.281682  0.083423  0.327650
ln_q       0.000002 -0.000799  0.001457
ln2_q     -0.000046  0.000033  0.000015
ln_qp1     0.000123  0.000117 -0.000404
ln_qp2     0.000184 -0.000018 -0.000213
ln_qp3    -0.000307 -0.000099  0.000617
ln_p1      0.105136 -0.026906 -0.127934
ln_p2     -0.061679  0.022659  0.062953
ln_p3     -0.043457  0.004247  0.064981
ln2_p1    -0.006987  0.001437  0.009051
ln2_p2    -0.003352  0.005416 -0.003828
ln2_p3     0.018634 -0.008146 -0.017047
ln_p1p2    0.014487 -0.007500 -0.011135
ln_p1p3   -0.007500  0.006063  0.002084
ln_p2p3   -0.011135  0.002084  0.014963

## 1.4 Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

### Pandas

1. Ejecute el código a continuación, descomente la segunda línea para instalar la biblioteca savReaderWriter. El dict_varlabels tiene las etiquetas de las columnas de rec1.

2. Compruebe si CASEID identifica cada observación de forma única. Sugerencia: utilice el método is_unique.

3. Haga que la columna CASEID sea el índice de su conjunto de datos. Sugerencia: use set_index.

4. Mantenga a las mujeres que tengan entre 15 y 30 años y vivan en áreas urbanas. Sugerencia: use la consulta.

5. Genera una nueva columna con el mes de nacimiento. Solo usa las tres primeras letras. Usa los nombres en inglés de los meses.

In [8]:
# 1.4.1 Instalación preliminar

import pandas as pd
import numpy  as np
!pip install pyreadstat
import savReaderWriter as sav
rec1 = pd.read_spss( fr"C:/Users/USER/Documents/GitHub/Diplomado_PUCP/Diplomado_PUCP/_data/endes/2019/REC0111.sav" )

with sav.SavHeaderReader( fr"C:/Users/USER/Documents/GitHub/Diplomado_PUCP/Diplomado_PUCP/_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

Requirement already satisfied: pyreadstat in c:\anaconda\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.2.0 in c:\anaconda\lib\site-packages (from pyreadstat) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

In [10]:
dict_varlabels

{'ID1': 'Año',
 'HHID': 'Identificación Cuestionario del Hogar',
 'CASEID': 'Identificación Cuestionario Individual',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V013': 'Edad actual por grupos de 5 años',
 'V014': 'Integridad de la información para la fecha de nacimiento ',
 'V015': 'Resultado entrevista individual',
 'V017': 'Inicio del calendario, Codificación centenaria de mesesl CMC',
 'V018': 'Columna del mes de la entrevista',
 'V019': 'Duración del calendario',
 'V019A': 'Número de columnas de calendario',
 'V020': 'Muestra alguna vez casada',
 'V021': 'Unidad de muestreo primario - conglomerado',
 'V023': 'Dominio de ejemplo - Departamento',
 'V024': 'Región',
 'V025': 'Tipo de lugar de residencia',
 'V026': 'El lugar de residencia en el que se entrevistó - De Facto',
 'V027': 'Número de visitas',
 'V028': 'Identificación del entrevistador',
 'V029': 'Identificador del digitador',
 'V030': 'Supervisor de campo',
 'V031': 'Editor de campo',
 'V032': 'Editor de la oficina',
 'V033': 'Selección final del área de probabilidad',
 'V034': 'Número de orden del esposo',
 'V040': 'Altitud del conglomerado en metros',
 'V042': 'Selección de hogar para hemoglobina',
 'V043': 'Selección para módulo de estatus de mujeres',
 'V044': 'Selección para módulo de violencia domestica',
 'V000': 'Código y fase del país',
 'Q105DD': 'Dia de nacimeinto de la entrevistada',
 'V101': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V103': 'Lugar de residencia de la infancia',
 'V104': 'Cuanto tiempo tiene viviendo continuamente en el lugar de residencia actual',
 'V105': 'Tipo de lugar de residencia anteriormente',
 'V106': 'Nivel educativo más alto',
 'V107': 'Año/grado de educación más alto aprobado',
 'V113': 'Fuente principal de abasteciemiento de agua potable que utilizan en su hogar para tomar o beber',
 'V115': 'Tiempo para llegar a la fuente de agua',
 'V116': 'Tipo de instalación sanitaria',
 'V119': 'En su hogar tiene: electricidad',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V128': 'Material predominante de las paredes exteriores de la vivienda',
 'V129': 'Material predominante del techo de la vivienda',
 'V130': 'Religión',
 'V131': 'Etnicidad',
 'V133': 'Educación en años simples',
 'V134': 'El lugar en el que se realizó la entrevista  De-facto',
 'V135': 'Residente habitual o visitante',
 'V136': 'Número de miembros del hogar',
 'V137': 'Número de niños de 6 años de edad ',
 'V138': 'Número de mujeres de 15 a 49 años de edad elegibles en el hogar ',
 'V139': 'Región, residencia habitual De-jure',
 'V140': 'Tipo de área de residencia De-jure',
 'V141': 'Lugar de residencia De-jure',
 'V149': 'Logro educativo',
 'V150': 'Relación con el jefe del hogar',
 'V151': 'Sexo del Jefe del Hogar',
 'V152': 'Edad del jefe del hogar',
 'V153': 'En su hogar tiene: teléfono',
 'AWFACTT': 'Factor todas las mujeres - total',
 'AWFACTU': 'Factor todas las mujeres - urbano/rural',
 'AWFACTR': 'Factor todas las mujeres - regional',
 'AWFACTE': 'Factor todas las mujeres - educación',
 'AWFACTW': 'Factor todas las mujeres - índice de riqueza',
 'V155': 'Alfabetización',
 'V156': 'Alguna vez participó en un programa de alfabetización (no incluyendo la escuela primaria)',
 'V157': 'Frecuencia de lectura de un periódico o revista',
 'V158': 'Frecuencia de escuchar radio',
 'V159': 'Frecuencia de ver televisión',
 'V160': 'Baño compartido con otros hogares',
 'V161': 'Tipo de combustible para cocinar',
 'V166': 'Resultados de la prueba del yodo en la sal',
 'V167': 'Número de viajes en los últimos 12 meses',
 'V168': 'Afuera más de un mes en los últimos 12 meses',
 'ML101': 'Tipo de mosquitero que utilizo para dormir última noche',
 'QD333_1': 'Alguna dificultad o limitación permanente para ver, aún usando anteojos',
 'QD333_2': 'Alguna dificultad o limitación permanente para oir, aún usando audífonos',
 'QD333_3': 'Alguna dificultad o limitación permanente para hablar o comunicarse, aún usando la lengua de señas u otro',
 'QD333_4': 'Alguna dificultad o limitación permanente para moverse o caminar para usar brazos y/o piernas',
 'QD333_5': 'Alguna dificultad o limitación permanente para entender o aprender (concentrarse y recordarse)',
 'QD333_6': 'Alguna dificultad o limitación permanente para relacionarse con los demás, por sus pensamientos, sentimientos, emociones o conductas',
 'UBIGEO': 'Código de Ubicación Gegráfica',
 'V022': 'Estratos',
 'V005': 'Factor de ponderacion',
 'V190': 'Índice de riqueza',
 'V191': 'Factor de puntuación del índice de riqueza (5 decimales)',
 'mujeres12a49': 'Mujeres de 12 a 49 años de edad',
 'NCONGLOME': 'Número de Conglomerado (proveniente del marco)'}

In [11]:
pd.DataFrame(rec1)
dfx= pd.DataFrame(rec1)
dfx

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

In [ ]:
dict_varlabels

In [12]:
# 1.4.2 Check if CASEID identifies each observation uniquely. Hint: Use is_unique method.
 # Compruebe si CASEID identifica cada observación de forma única. Sugerencia: utilice el método is_unique

In [14]:
# Comprobamos la cantidad de filas que tiene el DataFrame
dfx.shape[0]

38335

In [15]:
np.array(dfx['CASEID'])

array(['      000100201  2', '      000100201  3', '      000102801  2',
       ..., '      325407001  2', '      325407201  2',
       '      325407401  2'], dtype=object)

In [16]:
#Utilizamos el método is_unique, pero previamente convertimos
array= np.array(dfx['CASEID'])
array
series = pd.Series(array)
series
series.is_unique

True

In [17]:
len(dfx['CASEID'].unique().tolist())

38335

In [18]:
# 1.4.3 Generate a new column with the month of born. Just use the first three letters. Use the English names of the months.
# Genera una nueva columna con el mes de nacimiento. Solo usa las tres primeras letras. Usa los nombres en inglés de los meses.

In [25]:
# Con la información preliminar de dict_varlabels, seleccionamos los campos necesarios y cambiamos de nombre.
# V023': 'Dominio de ejemplo - Departamento',
# V024': 'Región',
# V025': 'Tipo de lugar de residencia',
# V012': 'Edad actual - entrevistada',
# V013': 'Edad actual por grupos de 5 años',
# V102': 'Tipo de lugar de residencia',


dfx1=dfx[["V012","V013","V023","V024","V025","mujeres12a49"]]
dfx1.rename({"V012":"Edad actual","V013":"Edad actual por grupos de 5 años",
             "V023":"Departamento","V024":"Región","V025":"Tipo Residencia","mujeres12a49":"Mujeres"},axis="columns")

,Edad actual,Edad actual por grupos de 5 años,Departamento,Región,Tipo Residencia,Mujeres
0,33.0,De 30 a 34 años de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 años de edad
1,12.0,De 12 a 14 años de edad,Amazonas,Amazonas,Urbano,"Mujeres de 12 a 14 de edad, nunca embarazadas"
2,36.0,De 35 a 39 años de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 años de edad
3,49.0,De 45 a 49 años de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 años de edad
4,28.0,De 25 a 29 años de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 años de edad
...,...,...,...,...,...,...
38330,48.0,De 45 a 49 años de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 años de edad
38331,31.0,De 30 a 34 años de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 años de edad
38332,46.0,De 45 a 49 años de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 años de edad
38333,25.0,De 25 a 29 años de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 años de edad
38334,23.0,De 20 a 24 años de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 años de edad

In [26]:
# Con la información seleccionada, procedemos a hacer las funciones condicionales. 
 #Luego creamos una tabla con los campos requeridos del caso. 

Lugar_r= dfx[(dfx["V012"]>=15) & (dfx["V012"]<=30) & (dfx["V025"]=="Urbano")]
Lugar_r[["V023","V024","V025","V012","V013"]]

           V023      V024    V025  V012                     V013
4      Amazonas  Amazonas  Urbano  28.0  De 25 a 29 años de edad
5      Amazonas  Amazonas  Urbano  30.0  De 30 a 34 años de edad
8      Amazonas  Amazonas  Urbano  18.0  De 15 a 19 años de edad
9      Amazonas  Amazonas  Urbano  23.0  De 20 a 24 años de edad
12     Amazonas  Amazonas  Urbano  28.0  De 25 a 29 años de edad
...         ...       ...     ...   ...                      ...
38162   Ucayali   Ucayali  Urbano  29.0  De 25 a 29 años de edad
38163   Ucayali   Ucayali  Urbano  20.0  De 20 a 24 años de edad
38164   Ucayali   Ucayali  Urbano  27.0  De 25 a 29 años de edad
38165   Ucayali   Ucayali  Urbano  26.0  De 25 a 29 años de edad
38170   Ucayali   Ucayali  Urbano  16.0  De 15 a 19 años de edad

[12236 rows x 5 columns]

In [27]:
# Se encuentran 12,236 mujeres entre 15 y 30 años que viven en áreas urbanas

In [28]:
# Para validar esta información, contamos la cantidad de filas que tiene la cabecera "V013": Edad actual por grupos de 5 años"
  # sin haber realizado las funciones condicionales
    
dfx[["V013","V012"]].value_counts()

V013                     V012
De 25 a 29 años de edad  26.0    1239
De 12 a 14 años de edad  12.0    1228
                         14.0    1203
                         13.0    1202
De 25 a 29 años de edad  27.0    1200
De 30 a 34 años de edad  30.0    1183
                         31.0    1177
                         32.0    1175
                         34.0    1174
De 25 a 29 años de edad  25.0    1154
De 20 a 24 años de edad  24.0    1152
De 25 a 29 años de edad  28.0    1145
De 20 a 24 años de edad  23.0    1142
De 30 a 34 años de edad  33.0    1099
De 25 a 29 años de edad  29.0    1098
De 20 a 24 años de edad  22.0    1093
De 15 a 19 años de edad  15.0    1074
De 35 a 39 años de edad  36.0    1032
                         35.0    1029
                         37.0    1021
De 20 a 24 años de edad  20.0     999
De 15 a 19 años de edad  16.0     990
De 20 a 24 años de edad  21.0     964
De 35 a 39 años de edad  38.0     944
                         39.0     925
De 15 a 19 años de edad  19.0     922
De 40 a 44 años de edad  40.0     889
De 15 a 19 años de edad  17.0     843
                         18.0     839
De 40 a 44 años de edad  42.0     813
                         41.0     780
                         43.0     732
                         44.0     678
De 45 a 49 años de edad  45.0     601
                         46.0     572
                         47.0     567
                         48.0     548
                         49.0     496
dtype: int64

In [29]:
# Luego realizamos el mismo proceso para contar las filas filtradas y nos damos cuenta que la suma
 # corresponde a 12,236
    
Lugar_r[["V013","V012"]].value_counts()

V013                     V012
De 25 a 29 años de edad  26.0    936
De 30 a 34 años de edad  30.0    909
De 25 a 29 años de edad  27.0    886
                         25.0    844
                         28.0    844
De 20 a 24 años de edad  24.0    841
                         23.0    833
De 25 a 29 años de edad  29.0    796
De 20 a 24 años de edad  22.0    779
De 15 a 19 años de edad  15.0    721
De 20 a 24 años de edad  20.0    712
                         21.0    699
De 15 a 19 años de edad  19.0    638
                         16.0    624
                         18.0    595
                         17.0    579
dtype: int64

In [30]:
# 1.4.4 Generate a new column with the month of born. Just use the first three letters. Use the English names of the months.
# Genera una nueva columna con el mes de nacimiento. Solo usa las tres primeras letras. Usa los nombres en inglés de los meses.

In [19]:
# Para poder realizar esta pregunta, se requiere los datos de la cabecera "V009": Mes de nacimiento de la entrevistada
 # y conocer el tipo de valor que tiene. Este caso Float

In [20]:
dfx.info("V009")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38335 entries, 0 to 38334
Data columns (total 105 columns):
 #    Column        Dtype
---   ------        -----
 0    ID1           float64
 1    HHID          object
 2    CASEID        object
 3    V001          float64
 4    V002          float64
 5    V003          float64
 6    V004          float64
 7    V007          float64
 8    V008          float64
 9    V009          float64
 10   V010          float64
 11   V011          float64
 12   V012          float64
 13   V013          category
 14   V014          category
 15   V015          category
 16   V017          float64
 17   V018          category
 18   V019          category
 19   V019A         float64
 20   V020          category
 21   V021          float64
 22   V023          category
 23   V024          category
 24   V025          category
 25   V026          category
 26   V027          float64
 27   V028          float64
 28   V029          float64
 29   V030          float64
 30   V031          float64
 31   V032          float64
 32   V033          float64
 33   V034          category
 34   V040          float64
 35   V042          category
 36   V043          category
 37   V044          category
 38   V000          object
 39   Q105DD        category
 40   V101          category
 41   V102          category
 42   V103          category
 43   V104          category
 44   V105          category
 45   V106          category
 46   V107          float64
 47   V113          category
 48   V115          category
 49   V116          category
 50   V119          category
 51   V120          category
 52   V121          category
 53   V122          category
 54   V123          category
 55   V124          category
 56   V125          category
 57   V127          category
 58   V128          category
 59   V129          category
 60   V130          category
 61   V131          category
 62   V133          category
 63   V134          category
 64   V135          category
 65   V136          float64
 66   V137          float64
 67   V138          float64
 68   V139          category
 69   V140          category
 70   V141          category
 71   V149          category
 72   V150          category
 73   V151          category
 74   V152          category
 75   V153          category
 76   AWFACTT       float64
 77   AWFACTU       float64
 78   AWFACTR       float64
 79   AWFACTE       float64
 80   AWFACTW       float64
 81   V155          category
 82   V156          category
 83   V157          category
 84   V158          category
 85   V159          category
 86   V160          category
 87   V161          category
 88   V166          category
 89   V167          category
 90   V168          category
 91   ML101         category
 92   QD333_1       category
 93   QD333_2       category
 94   QD333_3       category
 95   QD333_4       category
 96   QD333_5       category
 97   QD333_6       category
 98   UBIGEO        object
 99   V022          float64
 100  V005          float64
 101  V190          category
 102  V191          float64
 103  mujeres12a49  category
 104  NCONGLOME     float64
dtypes: category(66), float64(35), object(4)
memory usage: 13.8+ MB

In [21]:
# Verificamos si existen los 12 meses del año

dfx["V009"].unique().tolist()

[4.0, 1.0, 6.0, 3.0, 5.0, 11.0, nan, 9.0, 8.0, 12.0, 10.0, 7.0, 2.0]

In [22]:
# Se realiza la creación de una nueva columna, remplazando los valos a través de la función Replace

dfx["nombre_mes"] = dfx["V009"].replace({
    1: 'Jan',
    2: 'Feb',
    3: 'Mar',
    4: 'Apr',
    5: 'May',
    6: 'Jun',
    7: 'Jul',
    8: 'Aug',
    9: 'Sep',
    10: 'Oct',
    11: 'Nov',
    12: 'Dec'
})
dfx

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME,nombre_mes
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0,Apr
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0,Jan
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0,Jun
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0,Mar
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0,Dec
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0,Jun
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0,Jul
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0,Dec
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0,Oct

In [24]:
dfx[["V009","nombre_mes"]].value_counts()

V009  nombre_mes
3.0   Mar           3233
9.0   Sep           3233
5.0   May           3208
7.0   Jul           3190
8.0   Aug           3184
12.0  Dec           3082
6.0   Jun           3081
1.0   Jan           3056
11.0  Nov           3001
10.0  Oct           2970
4.0   Apr           2938
2.0   Feb           2746
dtype: int64