# 8.2 Twitter API

- <a href='#8.1.'>8.1. Generate Twitter API Key</a>
- <a href='#8.2.'>8.2. Tweepy </a> 
     - <a href='#8.2.1.'>8.2.1. Get tweets in a date range </a> 
- <a href='#8.3.'>8.3. Request tweet </a>  
     - <a href='#8.3.1.'>8.3.1. Getting ID of username - jmwooldridge</a> 
     - <a href='#8.3.2.'>Getting Tweets Timeline - jmwooldridge</a> 
- <a href='#8.4.'>8.4. References</a>

In [2]:
# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

## <a id='8.1.'>8.1. Generate Twitter API Key</a>

All you need to do is create a project and connect an App through the developer portal and we are set to go!

1. Go to the developer [portal dashboard](https://developer.twitter.com/en/portal/dashboard).
2. Sign in with your developer account.
3. Create a new project, give it a name, a use-case based on the goal you want to achieve, and a description.
<img src="../_images/1_twitter.png" />

4. Assuming this is your first time, choose ‚Äòcreate a new App instead‚Äô and give your App a name in order to create a new App.
<img src="../_images/2_twitter.png" />

5. If everything is successful, you should be able to see this page containing your keys and tokens, we will use one of these to access the API.
<img src="../_images/3_twitter.png" />

### <a id='8.2.'>8.2. Tweepy </a>

In [4]:
import tweepy
consumer_key = "Rr3sWjlZW6bdDlL2pRf1pbtia"
consumer_secret = "mxhZpvR8BX96Sd347oCcNRDDjpdwHVxItwWE28ahKpiuQgvRe4"
auth = tweepy.OAuthHandler( consumer_key, consumer_secret )

access_token = "1270850339223343105-DLleC3HxuR45fyVJOJHsQ5YEaXv8kO"
access_token_secret = "lNJ1iQVmHJIw0QZHaC19svWk2GbCthmzhsk4jXaVStmcM"
auth.set_access_token( access_token, access_token_secret )

api = tweepy.API(auth)

Get Timeline of user

In [43]:
# Get Timeline
public_tweets = api.home_timeline()
for tweet in public_tweets:
    print( tweet.text )

I've been liking the app Obsidian to jot down ideas/notes/etc. I find it's also becoming a useful informal lab note‚Ä¶ https://t.co/M4UzhfpS6N
Sorry ICML area chairs my head got eaten by a lion so I can't write my reviews https://t.co/U5csOThPec
Wasn‚Äôt that your wrestling gimmick ‚Å¶@DaveDuFourNBA‚Å©? https://t.co/oqYhV6jsi3
US educational institutions are mostly asset management firms with amateur sports program attached to them. https://t.co/7h9Y90gmMj
@Cris_J_M @MovilidadJDV El objeto de estudio de la sociolog√≠a es la acci√≥n social. Las hay de 4 tipos: la acci√≥n ra‚Ä¶ https://t.co/gg6oXOgplm
RT @CincinnatiZoo: Happy World Hippo Day! ü¶õ Here's a look at everyone's favorite bloat: Fiona, Fritz, Bibi &amp; Tucker! https://t.co/STnqd5wkIM
RT @larepublica_pe: üö® Gremio de universidades nacionales desconoce a Manuel Castillo como superintendente de la Sunedu

Asociaci√≥n de Unive‚Ä¶
RT @BlancheMinerva: There's a lot of misinfo about this out there, so here's the definitive list of the largest open source LLMs in the wor‚Ä¶
RT @Trajinante1987: #EnVivo | Inicia la caminata por Ventanilla, Pachacutec en rechazo a la dictadura c√≠vico militar que tiene el control d‚Ä¶
RT @PClimatologia: Interesante.

Siempre nos sorprende @dr_xeo con sus gr√°ficas.
Hydro-Quebec, Canada‚Äôs largest hydroelectric utility, posted a record $3.4 billion profit last year after selling p‚Ä¶ https://t.co/JtJMxaRMvY
Interesting conversation ongoing about ag input/service ‚Ä¶ #PurdueFarmMgt https://t.co/lo6AetCjgS
This paragraph is a clear description of a dynamic monopsony model.
RT @yonhy_lescano: Este gobierno desleal, intolerante y torpe se pelea con otros gobernantes, se hace el tonto, dice que no puede cerrar el‚Ä¶
'Please,' cried Frog, 'please go away!' But no one went away.
Beware the Ides of March. https://t.co/rEpjPzgMah
#PurdueFarmMgt pertinent to our class module on farm stress and mental health https://t.co/HG9Xp3VgYW
The ideas that firms have *wage policies* leading to different pay for similar workers used to be in econ textbooks‚Ä¶ https://t.co/OvlnAUzLnj
RT @BrennpunktUA: General A.D. #Vad l√ºgt bei #b2502 unverfroren. Er behauptet, der U.S. Generalstabschef #Milley w√ºrde seine eigene Einsch√§‚Ä¶
So I was off Twitter, getting some actual work done, and only recently learned that there's suddenly a popular theo‚Ä¶ https://t.co/jUvgTeEC2h

Getting tweets from [Judea Pearl](https://twitter.com/yudapearl).

In [6]:
userID = "yudapearl"

In [45]:
# Set uttils
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Set API
api = tweepy.API(auth)

# Get Tweets
tweets_bi = api.user_timeline(screen_name = userID, 
                           # 200 is the maximum allowed count
                           count = 100,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )

In [46]:
print( tweets_bi[0].id )
print( tweets_bi[0].created_at )
print( tweets_bi[0].full_text )

1629587274651537410
2023-02-25 21:00:57
I bet there are many carefully conducted observational studies where, lacking causal models, researchers were unable to decide what factors need adjustments in order to obtain an unbiased estimates of causal effects.
Time for modern re-analyses of precious data. https://t.co/H9AnXsaZIB

In [47]:
for info in tweets_bi[:3]:
     print("ID: {}".format(info.id))
     print(info.created_at)
     print(info.full_text)
     print("\n")

ID: 1629587274651537410
2023-02-25 21:00:57
I bet there are many carefully conducted observational studies where, lacking causal models, researchers were unable to decide what factors need adjustments in order to obtain an unbiased estimates of causal effects.
Time for modern re-analyses of precious data. https://t.co/H9AnXsaZIB


ID: 1629583134990958592
2023-02-25 20:44:30
This is an opportunity for the CUNY community to expose Saly Abd Alla ,disqualifications by focusing on her Zionophobic racism, rather than falling into the antisemitic rabbit hole. Focus, focus, focus. https://t.co/1hgjAF7bvI


ID: 1629457161473650688
2023-02-25 12:23:55
America has changed, Mr. Ambassador. How can it be that Berkeley Law School would proclaim Zionist speakers unwanted, and CUNY's President would designate a BDS activist to head "diversity and inclusion"?
America has changed. https://t.co/8l4FxYaJXa

In [48]:
tweets_bi[0].full_text

'I bet there are many carefully conducted observational studies where, lacking causal models, researchers were unable to decide what factors need adjustments in order to obtain an unbiased estimates of causal effects.\nTime for modern re-analyses of precious data. https://t.co/H9AnXsaZIB'

In [49]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at, 
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8")] 
             for idx,tweet in enumerate(tweets_bi)]
df = DataFrame(outtweets,columns=["id","created_at","favorite_count","retweet_count", "text"])
df.to_csv( f'{userID}_tweets.csv', index = False )
df.head(3)

,id,created_at,favorite_count,retweet_count,text
0,1629587274651537410,2023-02-25 21:00:57,6,1,I bet there are many carefully conducted obser...
1,1629583134990958592,2023-02-25 20:44:30,1,2,This is an opportunity for the CUNY community ...
2,1629457161473650688,2023-02-25 12:23:55,121,41,"America has changed, Mr. Ambassador. How can i..."

In [50]:
df

,id,created_at,favorite_count,retweet_count,text
0,1629587274651537410,2023-02-25 21:00:57,6,1,I bet there are many carefully conducted obser...
1,1629583134990958592,2023-02-25 20:44:30,1,2,This is an opportunity for the CUNY community ...
2,1629457161473650688,2023-02-25 12:23:55,121,41,"America has changed, Mr. Ambassador. How can i..."
3,1629451136053944322,2023-02-25 11:59:59,39,3,"Sparks of light can be seen even on this ""Day ..."
4,1629447735756881920,2023-02-25 11:46:28,5,3,Another nice feature of the @soboleffspaces - ...
...,...,...,...,...,...
83,1627636460487872513,2023-02-20 11:49:06,2,0,@HL327 @stephensenn @f2harrell @AngeloDalli @R...
84,1627610213565222916,2023-02-20 10:04:49,0,0,@HL327 @stephensenn @f2harrell @AngeloDalli @R...
85,1627577912462561282,2023-02-20 07:56:27,2,0,@stephensenn @HL327 @f2harrell @AngeloDalli @R...
86,1627571557186048000,2023-02-20 07:31:12,2,0,@sim0ngates @f2harrell @HL327 @stephensenn @An...
87,1627399456999235584,2023-02-19 20:07:20,0,0,"@heckerma1 @PSpirtes I got a broken link, can ..."

## <a id ='8.3.'>8.3. Request tweet </a>

In [ ]:

# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

## <a id ='8.3.1.'>8.3.1. Getting ID of username - [jmwooldridge](https://twitter.com/jmwooldridge) </a>

In [24]:
class request_id:
    
    def __init__( self, token):
        self.token = token
    
    def create_url( self, user_name ):
        # Specify the usernames that you want to lookup below
        # You can enter up to 100 comma-separated values.
        usernames = f"usernames={ user_name }"
        user_fields = "user.fields=description,created_at"
        # User fields are adjustable, options include:
        # created_at, description, entities, id, location, name,
        # pinned_tweet_id, profile_image_url, protected,
        # public_metrics, url, username, verified, and withheld
        url = "https://api.twitter.com/2/users/by?{}&{}".format(usernames, user_fields)
        self.url = url


    def bearer_oauth( self, r ):
        """
        Method required by bearer token authentication.
        """

        r.headers["Authorization"] = f"Bearer {self.token}"
        r.headers["User-Agent"] = "v2UserLookupPython"
        
        self.r = r
        return r


    def connect_to_endpoint( self ):
        url = self.url
        response = requests.request("GET", url, auth= self.bearer_oauth,)
        print(response.status_code)
        if response.status_code != 200:
            raise Exception(
                "Request returned an error: {} {}".format(
                    response.status_code, response.text
                )
            )
            
        return response.json()

Token

In [25]:
Bearer_Token = "AAAAAAAAAAAAAAAAAAAAAHqDOQEAAAAA13Ox6r2pGXSajjvKhZUT%2BksIvnk%3DhdyhLtNoNYKm50YORIqKDBakGh5JTvjl828R3mToJzFmWjb1CJ"
get_id_woold = request_id( Bearer_Token )

Username

In [51]:
get_id_woold.create_url( 'jmwooldridge' )

result = get_id_woold.connect_to_endpoint()

200

Getting Data

In [52]:
id_woold = result['data'][0]['id']
id_woold

'95230497'

## <a id = '8.3.2.'>8.3.2. [Getting Tweets Timeline](https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/introduction) - [jmwooldridge](https://twitter.com/jmwooldridge) </a> 

The endpoint can return the 3,200 most recent Tweets, Retweets, replies and Quote Tweets posted by the user. <br>
The user Tweet timeline also supports the ability to specify `start_time` and `end_time` parameters to receive Tweets that were created within a certain window of time.

In [28]:
def create_url(  user_id ):
    # Replace with user ID below
    return "https://api.twitter.com/2/users/{}/tweets".format(user_id)


def get_params():
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    return {"tweet.fields": "created_at", "max_results" : 100 }


def bearer_oauth(r):
    """
    Method required by bearer token authentication.
    """
    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2UserTweetsPython"
    return r


def connect_to_endpoint(url, params, next_token = None ):
    params['pagination_token'] = next_token
    response = requests.request("GET", url, auth=bearer_oauth, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [29]:
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAHqDOQEAAAAA13Ox6r2pGXSajjvKhZUT%2BksIvnk%3DhdyhLtNoNYKm50YORIqKDBakGh5JTvjl828R3mToJzFmWjb1CJ'

In [53]:
url = create_url( id_woold )
param = get_params()
result = connect_to_endpoint( url, param)

200

In [57]:
result['meta']

{'result_count': 100,
 'newest_id': '1629595151675924480',
 'oldest_id': '1624164394186727442',
 'next_token': '7140dibdnow9c7btw4515z8c1bcjb3oy28yubpi2r6eya'}

In [54]:
data = result['data']

In [58]:
next_token = 'next_token' in result['meta'].keys()
page = 1
while next_token == True:
    try:
        restult = connect_to_endpoint( url, param, result['meta']['next_token'] )
        data = data + result['data']
    except:
        next_token = False
    
    if page > 10:
        next_token = False
    
    page = page + 1

200
200
200
200
200
200
200
200
200
200
200

In [59]:
df = pd.DataFrame( data )

In [60]:
df

,created_at,edit_history_tweet_ids,id,text
0,2023-02-25T21:32:15.000Z,[1629595151675924480],1629595151675924480,@RoxaBarrantes I wondered that. I think I‚Äôm on...
1,2023-02-25T16:59:18.000Z,[1629526462318653440],1629526462318653440,"@Stella33448324 Given my lack of sleep, I can‚Äô..."
2,2023-02-25T16:57:39.000Z,[1629526045832658944],1629526045832658944,@danilaserra_eco If I toss in my hate for 2023...
3,2023-02-25T16:41:50.000Z,[1629522068294496256],1629522068294496256,"It never rains in California \nBut girl, don‚Äôt..."
4,2023-02-25T14:04:47.000Z,[1629482542113107971],1629482542113107971,@nikir1 Huh. I hit zero by applying any refund...
...,...,...,...,...
1195,2023-02-11T20:58:34.000Z,[1624513245024342018],1624513245024342018,Not gonna lie: I thought my Poisson regression...
1196,2023-02-11T20:09:42.000Z,[1624500949262782468],1624500949262782468,"‚ÄúNot my favorite #Caturday, but I‚Äôm hanging in..."
1197,2023-02-11T15:11:43.000Z,[1624425960178155521],1624425960178155521,@flynnpolsci Thanks for this! Neal also seems ...
1198,2023-02-11T02:10:54.000Z,[1624229461263630337],1624229461263630337,"@SHUWalshgym Strangest, most entertaining endi..."
1199,2023-02-10T21:52:21.000Z,[1624164394186727442],1624164394186727442,"Not an easy week for Neal, who had to have a c..."

We are allowed to request only 3200 tweets.

## <a id='8.4.'>8.4. References</a>

https://towardsdatascience.com/an-extensive-guide-to-collecting-tweets-from-twitter-api-v2-for-academic-research-using-python-3-518fcb71df2a

https://fairyonice.github.io/extract-someones-tweet-using-tweepy.html