In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import ActionChains

In [2]:
import pandas as pd
import numpy as np
import os
import time
import re
import unidecode

In [3]:
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager

### Scraping

In [4]:
driver = webdriver.Chrome( ChromeDriverManager().install() )

url = 'https://www.sunedu.gob.pe/lista-universidades/'
driver.get( url )

driver.maximize_window()

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Yoseph\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

### Public universities

In [5]:
public_u = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[1]/a" ) 

public_u.click()

In [6]:
table_public = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[1]/div")

In [7]:
table_public_html = table_public.get_attribute( 'innerHTML' )

In [8]:
# Read the table using pandas
f_table_public = pd.read_html( table_public_html )
f_table_public

[    N°                                        UNIVERSIDAD   DEPARTAMENTO  \
 0    1           Universidad Nacional Mayor de San Marcos           Lima
 1    2  Universidad Nacional de San Cristóbal de Huamanga       Ayacucho
 2    3  Universidad Nacional de San Antonio Abad del C...          Cusco
 3    4                   Universidad Nacional de Trujillo    La Libertad
 4    5    Universidad Nacional de San Agustín de Arequipa       Arequipa
 5    6                 Universidad Nacional de Ingeniería           Lima
 6    7             Universidad Nacional Agraria La Molina           Lima
 7    8              Universidad Nacional San Luis Gonzaga            Ica
 8    9           Universidad Nacional del Centro del Perú          Junín
 9   10        Universidad Nacional de la Amazonía Peruana         Loreto
 10  11                 Universidad Nacional del Altiplano           Puno
 11  12                      Universidad Nacional de Piura          Piura
 12  13                  Universidad Nacional de Cajamarca      Cajamarca
 13  14           Universidad Nacional Federico Villarreal           Lima
 14  15           Universidad Nacional Agraria de la Selva        Huánuco
 15  16  Universidad Nacional Hermilio Valdizán de Huánuco        Huánuco
 16  17  Universidad Nacional de Educación Enrique Guzm...           Lima
 17  18        Universidad Nacional Daniel Alcides Carrión          Pasco
 18  19                    Universidad Nacional del Callao         Callao
 19  20  Universidad Nacional José Faustino Sánchez Car...           Lima
 20  21              Universidad Nacional Pedro Ruiz Gallo     Lambayeque
 21  22        Universidad Nacional Jorge Basadre Grohmann          Tacna
 22  23    Universidad Nacional Santiago Antúnez de Mayolo         Ancash
 23  24                 Universidad Nacional de San Martín     San Martín
 24  25                    Universidad Nacional de Ucayali        Ucayali
 25  26                     Universidad Nacional de Tumbes         Tumbes
 26  27                     Universidad Nacional del Santa         Ancash
 27  28               Universidad Nacional de Huancavelica   Huancavelica
 28  29    Universidad Nacional Amazónica de Madre de Dios  Madre De Dios
 29  30  Universidad Nacional Toribio Rodríguez de Mend...       Amazonas
 30  31  Universidad Nacional Micaela Bastidas de Apurímac       Apurímac
 31  32  Universidad Nacional Intercultural de la Amazonía        Ucayali
 32  33  Universidad Nacional Tecnológica de Lima Sur (*1)           Lima
 33  34           Universidad Nacional José María Arguedas       Apurímac
 34  35                   Universidad Nacional de Moquegua       Moquegua
 35  36                    Universidad Nacional de Juliaca           Puno
 36  37                       Universidad Nacional de Jaén      Cajamarca
 37  38                   Universidad Nacional de Frontera          Piura
 38  39             Universidad Nacional Autónoma de Chota      Cajamarca
 39  40                   Universidad Nacional de Barranca           Lima
 40  41                     Universidad Nacional de Cañete           Lima
 41  42  Universidad Nacional Intercultural Fabiola Sal...       Amazonas
 42  43  Universidad Nacional Intercultural de la Selva...          Junín
 43  44  Universidad Nacional Intercultural de Quillabamba          Cusco
 44  45     Universidad Nacional Autónoma de Alto Amazonas         Loreto
 45  46  Universidad Nacional Autónoma Altoandina de Tarma          Junín
 46  47            Universidad Nacional Autónoma de Huanta       Ayacucho
 47  48  Universidad Nacional Tecnológica de San Juan d...           Lima
 48  49       Universidad Autónoma Municipal de Los Olivos           Lima
 49  50  Universidad Nacional Autónoma de Tayacaja Dani...   Huancavelica
 50  51                  Universidad Nacional Ciro Alegría    La Libertad

            PROVINCIA DISPOSITIVO LEGAL DE CREACIÓN FECHA DE CREACIÓN  \
 0               Lima      Real Cédula de Fundación        12/05/1551
 1           Huamanga                  Ley N° 12828        03/07/1677
 2              Cusco      Real Cédula de Fundación        01/06/1692
 3           Trujillo            Decreto Directoral        10/05/1824
 4           Arequipa           Acta de Instalación        11/11/1828
 5               Lima                  Ley N° 12379        19/07/1955
 6               Lima                  Ley N° 13417        08/04/1960
 7                Ica                  Ley N° 12495        20/12/1955
 8           Huancayo                  Ley N° 13827        02/01/1962
 9             Maynas                  Ley N° 13498        14/01/1961
 10              Puno                  Ley N° 13516        10/02/1961
 11             Piura                  Ley N° 13531        03/03/1961
 12         Cajamarca                  Ley N° 14015        13/02/1962
 13              Lima                  Ley N° 14692        30/10/1963
 14     Leoncio Prado                  Ley N° 14912        20/02/1964
 15           Huánuco                  Ley N° 14915        20/02/1964
 16              Lima                  Ley N° 15519        07/04/1965
 17             Pasco                  Ley N° 15527        23/04/1965
 18            Callao                  Ley N° 16225        02/09/1966
 19            Huaura          Decreto Ley N° 17358        31/12/1968
 20        Lambayeque          Decreto Ley N° 18179        17/03/1970
 21             Tacna          Decreto Ley N° 18942        26/08/1971
 22            Huaraz          Decreto Ley N° 21856        24/05/1977
 23        San Martín          Decreto Ley N° 22803        18/12/1979
 24  Coronel Portillo          Decreto Ley N° 22804        18/12/1979
 25            Tumbes                  Ley N° 23881        23/06/1984
 26             Santa                  Ley N° 24035        20/12/1984
 27      Huancavelica                  Ley N° 25265        20/06/1990
 28         Tambopata                  Ley N° 27297        06/07/2000
 29       Chachapoyas                  Ley N° 27347        19/09/2000
 30           Abancay                  Ley N° 27348        27/09/2000
 31  Coronel Portillo                  Ley N° 27250        05/01/2000
 32              Lima                  Ley N° 27413        01/02/2001
 33       Andahuaylas                  Ley N° 28372        01/11/2004
 34    Mariscal Nieto                  Ley N° 28520        24/05/2005
 35         San Román                  Ley N° 29074        25/07/2007
 36              Jaén                  Ley N° 29304        20/12/2008
 37           Sullana                  Ley N° 29568        06/08/2010
 38             Chota                  Ley N° 29531        12/05/2010
 39          Barranca                  Ley N° 29553        07/07/2010
 40            Cañete                  Ley N° 29488        23/12/2009
 41             Bagua                  Ley N° 29614        18/11/2010
 42       Chanchamayo                  Ley N° 29616        19/11/2010
 43     La Convención                  Ley N° 29620        01/12/2010
 44     Alto Amazonas                  Ley N° 29649        11/01/2011
 45             Tarma                  Ley N° 29652        14/01/2011
 46            Huanta                  Ley N° 29658        28/01/2011
 47              Lima                  Ley N° 29659        28/01/2011
 48              Lima                  Ley N° 29668        10/03/2011
 49          Tayacaja                  Ley N° 29716        23/06/2011
 50   Sanchez Carrión                  Ley N° 29756        17/07/2011

    DISPOSITIVO LEGAL DE LICENCIAMIENTO FECHA DE PUB. DIARIO EL PERUANO
 0           Res. N° 036-2018-SUNEDU/CD                      04/04/2018
 1           Res. N° 050-2018-SUNEDU/CD                      01/06/2018
 2           Res. N° 059-2019-SUNEDU/CD                      04/05/2019
 3           Res. N° 127-2018-SUNEDU/CD                      20/09/2018
 4           Res. N° 098-2018-SUNEDU/CD                      27/08/2018
 5           Res. N° 073-2017-SUNEDU/CD                      28/11/2017
 6           Res. N° 011-2017-SUNEDU/CD                      20/03/2017
 7                                  NaN                             NaN
 8           Res. N° 022-2019-SUNEDU/CD                      01/03/2019
 9           Res. N° 012-2019-SUNEDU/CD                      01/02/2019
 10          Res. N° 101-2017-SUNEDU/CD                      30/12/2017
 11          Res. N° 058-2019-SUNEDU/CD                      07/05/2019
 12          Res. N° 080-2018-SUNEDU/CD                      17/07/2018
 13                                 NaN                             NaN
 14          Res. N° 114-2019-SUNEDU/CD                      29/08/2019
 15          Res. N° 099-2019-SUNEDU/CD                      26/07/2019
 16                                 NaN                             NaN
 17          Res. N° 111-2019-SUNEDU/CD                      22/08/2019
 18                                 NaN                             NaN
 19                                 NaN                             NaN
 20                                 NaN                             NaN
 21          Res. N° 056-2018-SUNEDU/CD                      13/06/2018
 22          Res. N° 173-2018-SUNEDU/CD                      01/01/2018
 23          Res. N° 055-2019-SUNEDU/CD                      01/05/2019
 24          Res. N° 149-2018-SUNEDU/CD                      15/11/2018
 25                                 NaN                             NaN
 26          Res. N° 028-2019-SUNEDU/CD                      12/03/2019
 27          Res. N° 086-2019-SUNEDU/CD                      03/07/2019
 28                                 NaN                             NaN
 29          Res. N° 033-2017-SUNEDU/CD                      17/09/2017
 30                                 NaN                             NaN
 31          Res. N° 131-2018-SUNEDU/CD                      27/09/2018
 32          Res. N° 059-2018-SUNEDU/CD                      21/06/2018
 33          Res. N° 035-2017-SUNEDU/CD                      02/10/2017
 34          Res. N° 103-2017-SUNEDU/CD                      06/01/2018
 35          Res. N° 097-2018-SUNEDU/CD                      26/08/2018
 36          Res. N° 002-2018-SUNEDU/CD                      14/01/2018
 37          Res. N° 086-2019-SUNEDU/CD                      06/04/2019
 38          Res. N° 160-2018-SUNEDU/CD                      08/12/2018
 39          Res. N° 047-2018-SUNEDU/CD                      24/05/2018
 40          Res. N° 116-2018-SUNEDU/CD                      12/09/2018
 41          Res. N° 095-2018-SUNEDU/CD                      14,/08/018
 42          Res. N° 033-2018-SUNEDU/CD                      23/03/2018
 43          Res. N° 085-2019-SUNEDU/CD                      02/07/2019
 44          Res. N° 062-2018-SUNEDU/CD                      29/06/2018
 45          Res. N° 142-2018-SUNEDU/CD                      19/10/2018
 46          Res. N° 014-2017-SUNEDU/CD                      19/04/2017
 47                                 NaN                             NaN
 48                                 NaN                             NaN
 49          Res. N° 016-2019-SUNEDU/CD                      15/02/2019
 50                                 NaN                             NaN  ]

### Private universities

In [9]:
private_u = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[2]/a" ) 

private_u.click()

In [10]:
table_private = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[2]/div")

In [11]:
table_private_html = table_private.get_attribute( 'innerHTML' )

In [12]:
# Read the table using pandas
f_table_private = pd.read_html( table_private_html )
f_table_private

[    N°                                        UNIVERSIDAD DEPARTAMENTO  \
 0    1           Pontificia Universidad Católica del Perú         Lima
 1    2               Universidad Peruana Cayetano Heredia         Lima
 2    3                Universidad Católica de Santa María     Arequipa
 3    4                           Universidad del Pacífico         Lima
 4    5                                Universidad de Lima         Lima
 ..  ..                                                ...          ...
 87  88  Universidad Santo Tomás de Aquino de Ciencia e...        Junín
 88  89                           Universidad Privada SISE         Lima
 89  90     Universidad Seminario Evangélico de Lima (*12)         Lima
 90  91         Universidad Seminario Bíblico Andino (*12)         Lima
 91  92                      Universidad Católica San José         Lima

    PROVINCIA DISPOSITIVO LEGAL DE CREACIÓN FECHA DE CREACIÓN  \
 0       Lima               Decreto Supremo        24/03/1917
 1       Lima         Decreto Supremo N° 18        22/09/1961
 2   Arequipa         Decreto Supremo N° 24        06/12/1961
 3       Lima         Decreto Supremo N° 08        28/02/1962
 4       Lima         Decreto Supremo N° 23        25/04/1962
 ..       ...                           ...               ...
 87  Huancayo       Res. N° 407-2012-CONAFU        25/07/2012
 88      Lima       Res. N° 408-2012-CONAFU        25/07/2012
 89      Lima                  Ley N° 30220        09/07/2014
 90      Lima                  Ley N° 30220        09/07/2014
 91      Lima      Real Cédula de Fundación        12/05/1551

    DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA  \
 0                         Res. N° 025-2016-SUNEDU/CD
 1                         Res. N° 029-2016-SUNEDU/CD
 2                         Res. N° 102-2017-SUNEDU/CD
 3                         Res. N° 030-2016-SUNEDU/CD
 4                         Res. N° 027-2016-SUNEDU/CD
 ..                                               ...
 87                                               NaN
 88                                               NaN
 89                                               NaN
 90                                               NaN
 91                                               NaN

    FECHA DE PUB. DIARIO EL PERUANO CONDICIÓN JURÍDICA
 0                       06/07/2016         Asociativa
 1                       27/07/2016         Asociativa
 2                       31/12/2017         Asociativa
 3                       27/07/2016         Asociativa
 4                       12/07/2016         Asociativa
 ..                             ...                ...
 87                             NaN         Societaria
 88                             NaN         Societaria
 89                             NaN         Asociativa
 90                             NaN         Asociativa
 91                             NaN         Asociativa

 [92 rows x 9 columns]]

In [13]:
df_public = pd.concat(f_table_public)

df_private = pd.concat(f_table_private)

In [14]:
df_universities = df_public.append(df_private, ignore_index=True)

In [15]:
df_universities

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO,FECHA DE PUB. DIARIO EL PERUANO,DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA,CONDICIÓN JURÍDICA
0,1,Universidad Nacional Mayor de San Marcos,Lima,Lima,Real Cédula de Fundación,12/05/1551,Res. N° 036-2018-SUNEDU/CD,04/04/2018,NaN,NaN
1,2,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,Ley N° 12828,03/07/1677,Res. N° 050-2018-SUNEDU/CD,01/06/2018,NaN,NaN
2,3,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,Real Cédula de Fundación,01/06/1692,Res. N° 059-2019-SUNEDU/CD,04/05/2019,NaN,NaN
3,4,Universidad Nacional de Trujillo,La Libertad,Trujillo,Decreto Directoral,10/05/1824,Res. N° 127-2018-SUNEDU/CD,20/09/2018,NaN,NaN
4,5,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,Acta de Instalación,11/11/1828,Res. N° 098-2018-SUNEDU/CD,27/08/2018,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
138,88,Universidad Santo Tomás de Aquino de Ciencia e...,Junín,Huancayo,Res. N° 407-2012-CONAFU,25/07/2012,NaN,NaN,NaN,Societaria
139,89,Universidad Privada SISE,Lima,Lima,Res. N° 408-2012-CONAFU,25/07/2012,NaN,NaN,NaN,Societaria
140,90,Universidad Seminario Evangélico de Lima (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,NaN,Asociativa
141,91,Universidad Seminario Bíblico Andino (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,NaN,Asociativa
142,92,Universidad Católica San José,Lima,Lima,Real Cédula de Fundación,12/05/1551,NaN,NaN,NaN,Asociativa

In [16]:
df_universities = df_universities.iloc[ : ,  1 : 4 ]
df_universities

                                           UNIVERSIDAD DEPARTAMENTO PROVINCIA
0             Universidad Nacional Mayor de San Marcos         Lima      Lima
1    Universidad Nacional de San Cristóbal de Huamanga     Ayacucho  Huamanga
2    Universidad Nacional de San Antonio Abad del C...        Cusco     Cusco
3                     Universidad Nacional de Trujillo  La Libertad  Trujillo
4      Universidad Nacional de San Agustín de Arequipa     Arequipa  Arequipa
..                                                 ...          ...       ...
138  Universidad Santo Tomás de Aquino de Ciencia e...        Junín  Huancayo
139                           Universidad Privada SISE         Lima      Lima
140     Universidad Seminario Evangélico de Lima (*12)         Lima      Lima
141         Universidad Seminario Bíblico Andino (*12)         Lima      Lima
142                      Universidad Católica San José         Lima      Lima

[143 rows x 3 columns]

### Use Google API Geocoding to geolocate universities and get universities' latitude and longitude

In [17]:
import googlemaps
import json
import pprint

In [18]:
API_KEY = 'AIzaSyBoWesySwwcVSOhJh1E9KSaJaSeMAl4uWM'

In [19]:
def geo_universities( row_series ):
    
    address = f"{row_series['UNIVERSIDAD']}, {row_series['DEPARTAMENTO']}, {row_series['PROVINCIA']}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = API_KEY )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [20]:
df_universities['results'] = df_universities.apply( lambda x: geo_universities( x )  , axis = 1 )

In [21]:
df_universities

,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,results
0,Universidad Nacional Mayor de San Marcos,Lima,Lima,"(Universidad Nacional Mayor de San Marcos, Lim..."
1,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,(Universidad Nacional de San Cristóbal de Huam...
2,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,(Universidad Nacional de San Antonio Abad del ...
3,Universidad Nacional de Trujillo,La Libertad,Trujillo,"(Universidad Nacional de Trujillo, La Libertad..."
4,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,(Universidad Nacional de San Agustín de Arequi...
...,...,...,...,...
138,Universidad Santo Tomás de Aquino de Ciencia e...,Junín,Huancayo,(Universidad Santo Tomás de Aquino de Ciencia ...
139,Universidad Privada SISE,Lima,Lima,"(Universidad Privada SISE, Lima, Lima, -12.077..."
140,Universidad Seminario Evangélico de Lima (*12),Lima,Lima,(Universidad Seminario Evangélico de Lima (*12...
141,Universidad Seminario Bíblico Andino (*12),Lima,Lima,"(Universidad Seminario Bíblico Andino (*12), L..."
142,Universidad Católica San José,Lima,Lima,"(Universidad Católica San José, Lima, Lima, -1..."

In [22]:
df_universities[['addres', 'lat', 'lng']] = pd.DataFrame( df_universities.results.tolist() ,  index = df_universities.index )

In [23]:
df2_universities = df_universities[["UNIVERSIDAD","DEPARTAMENTO","PROVINCIA","lat","lng"]].rename(columns={'DEPARTAMENTO': 'Departament_univ', 'PROVINCIA': 'Province_univ','UNIVERSIDAD':'Name_univ','lat': 'Latitude_univ', 'lng' : 'Longitude_univ'})
df2_universities

,Name_univ,Departament_univ,Province_univ,Latitude_univ,Longitude_univ
0,Universidad Nacional Mayor de San Marcos,Lima,Lima,-12.056158,-77.084520
1,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,-13.161248,-74.225772
2,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,-13.521930,-71.958321
3,Universidad Nacional de Trujillo,La Libertad,Trujillo,-8.115007,-79.038305
4,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,-16.397139,-71.537144
...,...,...,...,...,...
138,Universidad Santo Tomás de Aquino de Ciencia e...,Junín,Huancayo,-12.084047,-75.208488
139,Universidad Privada SISE,Lima,Lima,-12.077645,-77.035855
140,Universidad Seminario Evangélico de Lima (*12),Lima,Lima,-12.063959,-76.960074
141,Universidad Seminario Bíblico Andino (*12),Lima,Lima,-12.069621,-77.053398
142,Universidad Católica San José,Lima,Lima,-12.083682,-77.069168

### Merge your results with the department centroids data using the Department variables as ID.

In [24]:
centroids = pd.ExcelFile(r'../../_data/peru_departments_centroids.xlsx').parse()

centroids.head()

   CCDD   NOMBDEP      CAPITAL  Dpt_Centroid_Latitude  Dpt_Centroid_Longitude
0     1  AMAZONAS  CHACHAPOYAS              -5.069369              -78.055235
1     2    ANCASH       HUARAZ              -9.406368              -77.670229
2     3  APURIMAC      ABANCAY             -14.028147              -72.974732
3     4  AREQUIPA     AREQUIPA             -15.844475              -72.472918
4     5  AYACUCHO     AYACUCHO             -14.086284              -74.083968

In [25]:
centroids['NOMBDEP'].unique()

array(['AMAZONAS', 'ANCASH', 'APURIMAC', 'AREQUIPA', 'AYACUCHO',
       'CAJAMARCA', 'CALLAO', 'CUSCO', 'HUANCAVELICA', 'HUANUCO', 'ICA',
       'JUNIN', 'LA LIBERTAD', 'LAMBAYEQUE', 'LIMA', 'LORETO',
       'MADRE DE DIOS', 'MOQUEGUA', 'PASCO', 'PIURA', 'PUNO',
       'SAN MARTIN', 'TACNA', 'TUMBES', 'UCAYALI'], dtype=object)

In [26]:
df2_universities['Departament_univ'] = df2_universities['Departament_univ'].str.upper().apply( lambda x : unidecode.unidecode( x ) )

In [27]:
df2_universities['Departament_univ'].unique()

array(['LIMA', 'AYACUCHO', 'CUSCO', 'LA LIBERTAD', 'AREQUIPA', 'ICA',
       'JUNIN', 'LORETO', 'PUNO', 'PIURA', 'CAJAMARCA', 'HUANUCO',
       'PASCO', 'CALLAO', 'LAMBAYEQUE', 'TACNA', 'ANCASH', 'SAN MARTIN',
       'UCAYALI', 'TUMBES', 'HUANCAVELICA', 'MADRE DE DIOS', 'AMAZONAS',
       'APURIMAC', 'MOQUEGUA'], dtype=object)

In [28]:
merge = df2_universities.merge( centroids, how='left',left_on=['Departament_univ'],right_on=['NOMBDEP'])
merge

,Name_univ,Departament_univ,Province_univ,Latitude_univ,Longitude_univ,CCDD,NOMBDEP,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,Universidad Nacional Mayor de San Marcos,LIMA,Lima,-12.056158,-77.084520,15,LIMA,LIMA,-11.785115,-76.628934
1,Universidad Nacional de San Cristóbal de Huamanga,AYACUCHO,Huamanga,-13.161248,-74.225772,5,AYACUCHO,AYACUCHO,-14.086284,-74.083968
2,Universidad Nacional de San Antonio Abad del C...,CUSCO,Cusco,-13.521930,-71.958321,8,CUSCO,CUSCO,-13.189060,-72.170789
3,Universidad Nacional de Trujillo,LA LIBERTAD,Trujillo,-8.115007,-79.038305,13,LA LIBERTAD,TRUJILLO,-7.921689,-78.368017
4,Universidad Nacional de San Agustín de Arequipa,AREQUIPA,Arequipa,-16.397139,-71.537144,4,AREQUIPA,AREQUIPA,-15.844475,-72.472918
...,...,...,...,...,...,...,...,...,...,...
138,Universidad Santo Tomás de Aquino de Ciencia e...,JUNIN,Huancayo,-12.084047,-75.208488,12,JUNIN,HUANCAYO,-11.538922,-74.876839
139,Universidad Privada SISE,LIMA,Lima,-12.077645,-77.035855,15,LIMA,LIMA,-11.785115,-76.628934
140,Universidad Seminario Evangélico de Lima (*12),LIMA,Lima,-12.063959,-76.960074,15,LIMA,LIMA,-11.785115,-76.628934
141,Universidad Seminario Bíblico Andino (*12),LIMA,Lima,-12.069621,-77.053398,15,LIMA,LIMA,-11.785115,-76.628934
142,Universidad Católica San José,LIMA,Lima,-12.083682,-77.069168,15,LIMA,LIMA,-11.785115,-76.628934

### Google API Directions to find the driving travel time and distance from universities to department centroids

In [30]:
from tqdm.notebook import tqdm
import requests
import urllib.request, json, csv

In [31]:
merge['Combination'] = merge.index
merge['Combination'] += 1
combination=merge['Combination'].tolist()

In [32]:
merge['Lat_string_destin']=merge['Dpt_Centroid_Latitude'].astype(str)
merge['Long_string_destin']=merge['Dpt_Centroid_Longitude'].astype(str)

In [33]:
merge['Lat_Long_destin'] = merge['Lat_string_destin'].str.cat(merge['Long_string_destin'], sep =",") 

destination=merge['Lat_Long_destin'].tolist()
destination2=merge['Lat_Long_destin'].tolist()
destination3=merge['Lat_Long_destin'].tolist()

In [34]:
merge['Lat_string_origin']=merge['Latitude_univ'].astype(str)
merge['Long_string_origin']=merge['Longitude_univ'].astype(str)

In [35]:
merge['Lat_Long_origin'] = merge['Lat_string_origin'].str.cat(merge['Long_string_origin'], sep =",") 

origin=merge['Lat_Long_origin'].tolist()
origin2=merge['Lat_Long_origin'].tolist()
origin3=merge['Lat_Long_origin'].tolist()

In [36]:
merge

,Name_univ,Departament_univ,Province_univ,Latitude_univ,Longitude_univ,CCDD,NOMBDEP,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude,Combination,Lat_string_destin,Long_string_destin,Lat_Long_destin,Lat_string_origin,Long_string_origin,Lat_Long_origin
0,Universidad Nacional Mayor de San Marcos,LIMA,Lima,-12.056158,-77.084520,15,LIMA,LIMA,-11.785115,-76.628934,1,-11.7851149934921,-76.62893414942204,"-11.7851149934921,-76.62893414942204",-12.0561578,-77.0845196,"-12.0561578,-77.0845196"
1,Universidad Nacional de San Cristóbal de Huamanga,AYACUCHO,Huamanga,-13.161248,-74.225772,5,AYACUCHO,AYACUCHO,-14.086284,-74.083968,2,-14.08628399299046,-74.08396839739828,"-14.08628399299046,-74.08396839739828",-13.1612479,-74.2257722,"-13.1612479,-74.2257722"
2,Universidad Nacional de San Antonio Abad del C...,CUSCO,Cusco,-13.521930,-71.958321,8,CUSCO,CUSCO,-13.189060,-72.170789,3,-13.18905970857458,-72.17078885079073,"-13.18905970857458,-72.17078885079073",-13.52193,-71.9583208,"-13.52193,-71.9583208"
3,Universidad Nacional de Trujillo,LA LIBERTAD,Trujillo,-8.115007,-79.038305,13,LA LIBERTAD,TRUJILLO,-7.921689,-78.368017,4,-7.921689498366312,-78.3680173050854,"-7.921689498366312,-78.3680173050854",-8.1150074,-79.03830479999999,"-8.1150074,-79.03830479999999"
4,Universidad Nacional de San Agustín de Arequipa,AREQUIPA,Arequipa,-16.397139,-71.537144,4,AREQUIPA,AREQUIPA,-15.844475,-72.472918,5,-15.84447501555863,-72.47291786966441,"-15.84447501555863,-72.47291786966441",-16.3971385,-71.5371437,"-16.3971385,-71.5371437"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Universidad Santo Tomás de Aquino de Ciencia e...,JUNIN,Huancayo,-12.084047,-75.208488,12,JUNIN,HUANCAYO,-11.538922,-74.876839,139,-11.53892223390843,-74.87683921293825,"-11.53892223390843,-74.87683921293825",-12.0840468,-75.20848769999999,"-12.0840468,-75.20848769999999"
139,Universidad Privada SISE,LIMA,Lima,-12.077645,-77.035855,15,LIMA,LIMA,-11.785115,-76.628934,140,-11.7851149934921,-76.62893414942204,"-11.7851149934921,-76.62893414942204",-12.0776452,-77.0358547,"-12.0776452,-77.0358547"
140,Universidad Seminario Evangélico de Lima (*12),LIMA,Lima,-12.063959,-76.960074,15,LIMA,LIMA,-11.785115,-76.628934,141,-11.7851149934921,-76.62893414942204,"-11.7851149934921,-76.62893414942204",-12.0639589,-76.96007399999999,"-12.0639589,-76.96007399999999"
141,Universidad Seminario Bíblico Andino (*12),LIMA,Lima,-12.069621,-77.053398,15,LIMA,LIMA,-11.785115,-76.628934,142,-11.7851149934921,-76.62893414942204,"-11.7851149934921,-76.62893414942204",-12.0696208,-77.0533978,"-12.0696208,-77.0533978"
142,Universidad Católica San José,LIMA,Lima,-12.083682,-77.069168,15,LIMA,LIMA,-11.785115,-76.628934,143,-11.7851149934921,-76.62893414942204,"-11.7851149934921,-76.62893414942204",-12.0836816,-77.0691681,"-12.0836816,-77.0691681"

### Best_guess

In [37]:
# Generate dictionary to store data
data_distance = {}

In [38]:
# Loop to generate info about geolocations
distance_info = np.zeros(shape=(len(combination),3), dtype =float)
i=0

for c,o,d in tqdm(list(zip(combination,origin, destination))):
    try:
        # Google MapsDdirections API endpoint
        endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

    ## Fixed Parameters
        # Paramaters
        traffic_model = 'best_guess'  

        # Departure time
        departure_time= 'now'

        # driving, walking, biclycling, transit
        mode = 'driving'

        # key
        api_key = API_KEY

        # region to look for (spain= es , germany = de , Switzerland= swiss)
        region = 'pe'

     ## Parameters
        # Origin
        origin = o
        
        # Destinations
        destination = d
        
        #Building the URL for the request
        nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                        destination , departure_time , traffic_model , mode, region, api_key)
                
        
        # Concatenate strings
        request = endpoint + nav_request

        #Sends the request and reads the response.
        response = urllib.request.urlopen(request).read()

        #Loads response as JSON
        directions = json.loads(response)
        #print(json.dumps(directions, indent = 2))

        legs = directions['routes'][0]['legs'][0]
        
        
        distance_info[i][0] = c
        distance_info[i][1] = float(re.sub("[^0-9.]", "", legs['distance']['text']))
        distance_info[i][2] = float(re.sub("[^0-9.]", "", legs['duration']['text']))
 
        i=i+1
        
        my_keys = ['distance', 'duration']
        info = { my_key: legs[my_key] for my_key in my_keys }
        data_distance[c] = info 
    
    except Exception as e:
        
        distance_info[i][0] = c
        distance_info[i][1] = "nan"
        distance_info[i][2] = "nan"
        
        i=i+1
        
        #data_distance[c] = {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}
        print(c)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=143.0), HTML(value='')))

2
10
15
16
18
22
25
29
30
32
35
42
45
47
67
71
72
74
94
100
106
118
120
130
133

In [39]:
data_bg = pd.DataFrame(distance_info, columns = ['Combination', 'travel_distance_best_guess','travel_time__best_guess'])

### Pessimistic

In [50]:
# Generate dictionary to store data
data_distance_p = {}

In [61]:
# Loop to generate info about geolocations
distance_info_p = np.zeros(shape=(len(combination),3), dtype =float)
i=0

for c,o,d in tqdm(list(zip(combination,origin2, destination2))):
    try:
        # Google MapsDdirections API endpoint
        endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

    ## Fixed Parameters
        # Paramaters
        traffic_model = 'pessimistic'  

        # Departure time
        departure_time= 'now'

        # driving, walking, biclycling, transit
        mode = 'driving'

        # key
        api_key = API_KEY

        # region to look for (spain= es , germany = de , Switzerland= swiss)
        region = 'pe'

     ## Parameters
        # Origin
        origin = o
        
        # Destinations
        destination = d
        
        #Building the URL for the request
        nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                        destination , departure_time , traffic_model , mode, region, api_key)
                
        
        # Concatenate strings
        request = endpoint + nav_request

        #Sends the request and reads the response.
        response = urllib.request.urlopen(request).read()

        #Loads response as JSON
        directions = json.loads(response)
        #print(json.dumps(directions, indent = 2))

        legs = directions['routes'][0]['legs'][0]
        
        
        distance_info_p[i][0] = c
        distance_info_p[i][1] = float(re.sub("[^0-9.]", "", legs['distance']['text']))
        distance_info_p[i][2] = float(re.sub("[^0-9.]", "", legs['duration']['text']))
 
        i=i+1
        
        my_keys = ['distance', 'duration']
        info = { my_key: legs[my_key] for my_key in my_keys }
        data_distance_p[c] = info 
    
    except Exception as e:
        
        distance_info_p[i][0] = c
        distance_info_p[i][1] = "nan"
        distance_info_p[i][2] = "nan"
        
        i=i+1
        
        #data_distance[c] = {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}
        print(c)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=143.0), HTML(value='')))

2
10
15
16
18
22
25
29
30
32
35
42
45
47
67
71
72
74
94
100
106
118
120
130
133

In [62]:
data_p = pd.DataFrame(distance_info_p, columns = ['Combination', 'travel_distance_pessimistic','travel_time_pessimistic'])

### Optimistic

In [64]:
# Generate dictionary to store data
data_distance_o = {}

In [65]:
# Loop to generate info about geolocations
distance_info_o = np.zeros(shape=(len(combination),3), dtype =float)
i=0

for c,o,d in tqdm(list(zip(combination,origin3, destination3))):
    try:
        # Google MapsDdirections API endpoint
        endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

    ## Fixed Parameters
        # Paramaters
        traffic_model = 'optimistic'  

        # Departure time
        departure_time= 'now'

        # driving, walking, biclycling, transit
        mode = 'driving'

        # key
        api_key = API_KEY

        # region to look for (spain= es , germany = de , Switzerland= swiss)
        region = 'pe'

     ## Parameters
        # Origin
        origin = o
        
        # Destinations
        destination = d
        
        #Building the URL for the request
        nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                        destination , departure_time , traffic_model , mode, region, api_key)
                
        
        # Concatenate strings
        request = endpoint + nav_request

        #Sends the request and reads the response.
        response = urllib.request.urlopen(request).read()

        #Loads response as JSON
        directions = json.loads(response)
        #print(json.dumps(directions, indent = 2))

        legs = directions['routes'][0]['legs'][0]
        
        
        distance_info_o[i][0] = c
        distance_info_o[i][1] = float(re.sub("[^0-9.]", "", legs['distance']['text']))
        distance_info_o[i][2] = float(re.sub("[^0-9.]", "", legs['duration']['text']))
 
        i=i+1
        
        my_keys = ['distance', 'duration']
        info = { my_key: legs[my_key] for my_key in my_keys }
        data_distance_o[c] = info 
    
    except Exception as e:
        
        distance_info_o[i][0] = c
        distance_info_o[i][1] = "nan"
        distance_info_o[i][2] = "nan"
        
        i=i+1
        
        #data_distance[c] = {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}
        print(c)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=143.0), HTML(value='')))

2
10
15
16
18
22
25
29
30
32
35
42
45
47
67
71
72
74
94
100
106
118
120
130
133

In [66]:
data_o = pd.DataFrame(distance_info_o, columns = ['Combination', 'travel_distance_optimistic','travel_time_optimistic'])

In [67]:
from functools import reduce 

dfs=[merge,data_bg, data_p, data_o]

df_final= reduce(lambda left, right: pd.merge(left, right, on='Combination'),dfs)

In [76]:
df_final.columns

Index(['Name_univ', 'Departament_univ', 'Province_univ', 'Latitude_univ',
       'Longitude_univ', 'CCDD', 'NOMBDEP', 'CAPITAL', 'Dpt_Centroid_Latitude',
       'Dpt_Centroid_Longitude', 'Combination', 'Lat_string_destin',
       'Long_string_destin', 'Lat_Long_destin', 'Lat_string_origin',
       'Long_string_origin', 'Lat_Long_origin', 'travel_distance_best_guess',
       'travel_time__best_guess', 'travel_distance_pessimistic',
       'travel_time_pessimistic', 'travel_distance_optimistic',
       'travel_time_optimistic'],
      dtype='object')

In [80]:
df_final2 = df_final[["Departament_univ","Province_univ","Name_univ","Latitude_univ","Longitude_univ","Dpt_Centroid_Latitude","Dpt_Centroid_Longitude","travel_time__best_guess","travel_time_pessimistic","travel_time_optimistic","travel_distance_best_guess","travel_distance_pessimistic","travel_distance_optimistic"]]

### Final database

In [81]:
df_final2

,Departament_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude,travel_time__best_guess,travel_time_pessimistic,travel_time_optimistic,travel_distance_best_guess,travel_distance_pessimistic,travel_distance_optimistic
0,LIMA,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,-11.785115,-76.628934,224.0,224.0,222.0,71.0,71.0,71.7
1,AYACUCHO,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772,-14.086284,-74.083968,NaN,NaN,NaN,NaN,NaN,NaN
2,CUSCO,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321,-13.189060,-72.170789,47.0,47.0,47.0,167.0,167.0,167.0
3,LA LIBERTAD,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305,-7.921689,-78.368017,319.0,319.0,319.0,129.0,129.0,129.0
4,AREQUIPA,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144,-15.844475,-72.472918,344.0,344.0,344.0,209.0,209.0,209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,JUNIN,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488,-11.538922,-74.876839,429.0,429.0,429.0,175.0,175.0,175.0
139,LIMA,Lima,Universidad Privada SISE,-12.077645,-77.035855,-11.785115,-76.628934,219.0,219.0,219.0,72.1,72.1,72.1
140,LIMA,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074,-11.785115,-76.628934,27.0,27.0,27.0,63.1,63.1,63.1
141,LIMA,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398,-11.785115,-76.628934,219.0,219.0,219.0,69.0,69.0,69.0
142,LIMA,Lima,Universidad Católica San José,-12.083682,-77.069168,-11.785115,-76.628934,226.0,226.0,226.0,71.4,71.4,71.4