In [3]:
import googlemaps
import json
import pprint
import time
import pandas as pd
import numpy as np
import re

In [4]:
IPRESS_Trujillo = pd.ExcelFile("USLRC20220106200743_xp.xls").parse()

In [5]:
IPRESS_Trujillo = IPRESS_Trujillo[["Departamento","Provincia","Distrito","Dirección"]]

IPRESS_Trujillo.head()

,Departamento,Provincia,Distrito,Dirección
0,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA AMERICA SUR NÚMERO 2055 URBANIZACIÓN E...
1,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA MOCHE NÚMERO 609 PISO 1 URBANIZACIÓN S...
2,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA AV. MANSICHE Nº 810 DISTRITO TRUJILLO ...
3,LA LIBERTAD,TRUJILLO,TRUJILLO,JR. BOLIVAR 269/ INTERIOR 09/ CENTRO CIVICO
4,LA LIBERTAD,TRUJILLO,TRUJILLO,CALLE LIVERPOOL NÚMERO 365 URBANIZACIÓN SAN SA...

In [6]:
df1 = IPRESS_Trujillo[ IPRESS_Trujillo.iloc[ :, 3 ].notnull() ].copy()

In [7]:
df1.shape

(270, 4)

In [8]:
df1 = df1.sample( frac = 0.35 )

In [9]:
API_KEY = 'AIzaSyC-RiAK3OirPszEgIRJ63liZehRNBzL54U'

In [10]:
def get_results( result_api ):
    
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( lat, lon )

In [11]:
def geo_ipress( row_series ):
    
    address = f"{row_series['Departamento']}, {row_series['Provincia']}, {row_series['Distrito']}, {row_series['Dirección']}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = API_KEY )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [12]:
df1['results'] = df1.apply( lambda x: geo_ipress( x )  , axis = 1 )

In [13]:
df1[['addres', 'lat', 'lng']] = pd.DataFrame( df1.results.tolist() ,  index = df1.index )

In [14]:
df2 = df1[["addres","lat","lng"]].rename(columns={'addres': 'Address', 'lat': 'Latitude', 'lng' : 'Longitude'})

In [15]:
df2

                                               Address  Latitude  Longitude
229  LA LIBERTAD, TRUJILLO, TRUJILLO, AVENIDA AMERI... -8.093975 -79.025007
65   LA LIBERTAD, TRUJILLO, TRUJILLO, AV. AMERICA O... -8.104941 -79.046462
217  LA LIBERTAD, TRUJILLO, TRUJILLO, PASAJE URUGUA... -8.116505 -79.025580
117  LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE DELFIN ... -8.118380 -79.023384
177  LA LIBERTAD, TRUJILLO, TRUJILLO, AVENIDA AV. L... -8.120305 -79.035333
..                                                 ...       ...        ...
12   LA LIBERTAD, TRUJILLO, TRUJILLO, JIRÓN JR. LLO... -8.116465 -79.024002
40   LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE LOS ZAF... -8.103225 -79.036287
198  LA LIBERTAD, TRUJILLO, TRUJILLO, JR. BOLIVAR 2... -8.114811 -79.028757
24   LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE LOS LAU... -8.130109 -79.039234
21   LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE CALLE A... -8.127568 -79.019896

[94 rows x 3 columns]

In [16]:
df2.to_csv('group_6_ass_5.csv', index=False, encoding = 'utf-8-sig')